<!DOCTYPE html>
<html>
    <head>
        <title>Navigate Button</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Navigate Button -->
        <div class="btnStyle2" 
            ng-click="$ctrl.moreless2()"
            style="font-weight:bold;
                   {{$ctrl.rs3padding1}};
                   {{$ctrl.rs3marginleft1}};

                  ">
                   {{$ctrl.morelessText2}}
       </div>
       <div class="textBoxStyle2 textStyle3"
            ng-show="$ctrl.display2"
            style="position:absolute;
                   z-index:3;">
           <table  style= "width:100%;">
               <tr><td><u>{{$ctrl.navMenuHeader.col1}}</u></td>
                   <td><u>{{$ctrl.navMenuHeader.col2}}</u>
                       <span class="youAreHere2">
                           &nbsp;&nbsp;{{$ctrl.navMenuHeader.msg}}&nbsp;&nbsp;
                       </span>
                       <span class="closeText" 
                             ng-click="$ctrl.moreless2()" 
                             style="color:white;
                                    float:right;
                                   ">
                                   &nbsp;&nbsp;&nbsp;&#10062;
                       </span>
                   </td>
               </tr>
               <tr class="{{NAVMENU.rowClass}}" 
                   ng-repeat="NAVMENU in $ctrl.navMenuBody">  
                       <td class="tdStyle"><a ui-sref="{{NAVMENU.view}}">{{NAVMENU.selection}}</a></td>
                       <td class="tdStyle"><a ui-sref="{{NAVMENU.view}}">{{NAVMENU.destination}}</a></td>
               </tr>
           </table>
       </div>
    </body>
</html>
