<style>
.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:white;
text-shadow:    1px 0px 1px black, 2px 0px 2px black, 3px 0px 3px black, 
                1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black,
                0px 1px 1px black, 0px 2px 2px black, 0px 3px 3px black,

                -1px 1px 1px black, -2px 2px 2px black, -3px 3px 3px black,
                -1px 0px 1px black, -2px 0px 2px black, -3px 0px 3px black,
                
                -1px -1px 1px black, -2px -2px 2px black, -3px -3px 3px black,
                 0px -1px 1px black,  0px -2px 2px black,  0px -3px 3px black,
                 1px -1px 1px black,  2px -2px 2px black,  3px -3px 3px black;
}

.fontFam
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;     
}

</style>

<div style="text-align:center;">    
   
<!-- AR Response Section 1 ************************************************************************************************************************************************-->
    <table style="width:100%">
        <tr>
            <td style="width:50%; vertical-align:top;">
                <img    src="components/components04_07/tmpl_04/ttd-vn-rb-logo-b-1325x440.jpg"
                        alt="EZ Adjust Logo"
                        title="EZ Adjust Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
            </td>
            <td style="width:50%">
                <img    src="components/components04_07/tmpl_04/ttd-vn-rb-device-c-1760x600.png" 
                        alt="EZ Adjust Device." 
                        title="EZ Adjust Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- AR Response Section 2 ************************************************************************************************************************************************-->
 
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}};  
                display:inline-block;
                margin-top:7px;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        RUGGED - &nbsp;RELIABLE - &nbsp;VERSATILE
    </div>
   
<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <br>
    <div style="position:relative;">
        
        <table style="  position:absolute; 
                        {{$ctrl.rs3positiontop1}};      /* AR_100_25 */
                        {{$ctrl.rs3positionleft1}};     /* AR_80_ 70*/
                        z-index:2;">
            <tr>
                <td style="text-align:right;">
                    <a href="https://www.tarptiedown.com"> 
                        <img src="https:/tarptiedown.com/resources/ttd-vn-button3-300x120.png" alt="button" style="{{$ctrl.rs3width3}};">
                    </a>
                </td>
                
            </tr>
        </table>
        <div id="div4" 
             class="textStyle1" 
             style="position:absolute; 
                    {{$ctrl.rs3positiontop2}};    /* AR_450px_140px*/
                    left:5%; 
                    {{$ctrl.rs3fontsize5}}; 
                    text-align:left; 
                    z-index:2;">
            Get that<br>extra strong hold<br>when you need it the most!
        </div>
        
        <img    src="components/components04_07/tmpl_04/ttd-vn-rb-presentation2-1500x900.png" 
                alt="RockBuster Field Presentation" 
                title="RockBuster Field Presentation" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
    </div>

</div> 

