<style>
.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:red;
text-align:center; 
}
    
</style>

<div class="textStyle1" style="{{$ctrl.fontsize1}};">
    Reuse Tarps 
</div>


<div>    
    <table style="wdth:100%">
        <tr>
            <td style="width:38%; {{$ctrl.fontsize2}}; padding-left:2%;">
                Grommets are great when they're in the right place and not ripped out. 
                However, when you need to secure that damaged area of tarp or
                secure that loose area of tarp or to create an attachment point 
                in the middle area of your tarp nothing is better for the job
                than EZ Grabbit.
                
            </td>
            <td style="width:58%; padding-right:2%">
                <img src="http://www.tarptiedown.com/resources/ttd-vn-ezg-tarp-arc-torn-grommet-1200x700.jpg" 
                alt="EZ Grabbit Tarp Tie Down Official Logo" 
                title="Connecting tarps with EZ Grabbit" 
                style=" width:100%; border:2px solid black; border-radius:7px; margin-top:10px;">  
            </td>
            
        </tr>
        
    </table>
</div> 