<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">
<style>
.tableBorder, .headerBorder, .dataBorder    
{
border: 2px solid black;
border-collapse: collapse;
}

.headerBorder, .dataBorder   
{
padding:2px 0px;    
}

.quickLink
{
text-decoration:none;
color:white;
}

.quickLink:hover
{
color:black    
}

.viewStyle
{
background-color:gray; 
border:1px solid black;
border-radius:7px
}
</style>

<div class="viewStyle" id="pageTop1">
    <div id="pageTop2"
         style="width:100%; 
                text-align:center; 
                {{$ctrl.fontsize2}};
                ">
        <div class="textStyle4"
             style="font-size:3.0em;
                    margin:5px 0px;
                    "><b>OUR PRODUCTS</b>
        </div>
    </div>

    <div data-ui-view="childView1" style="text-align:center; margin:2vh auto;">This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working</div> 

    <div class="textStyle4" style="margin:1% auto; background-color:black; color:white; padding:5px; border-radius:5px; {{$ctrl.fontsize3}}; {{$ctrl.width1}};">
        <table class="tableBorder" style="width:100%;">
            <tr><th class="headerBorder topMenuNav" colspan="2" title="{{$ctrl.title3}}">Quick Menu</th></tr>
            <tr>
                <th class="headerBorder topMenuNav" title="{{$ctrl.title1}}" style="width:50%;">Quick View Below</th>
                <th class="headerBorder topMenuNav" title="{{$ctrl.title2}}" style="width:50%;">Go to App Pages</th>
            </tr>
            <tr ng-repeat="quicklist in $ctrl.quickLIST">
                <td class="dataBorder hyperMenuNav"><a class="quickLink" title="{{$ctrl.title1}}" href="{{quicklist.localview}}">&nbsp;{{quicklist.product}}&nbsp;</a></td>
                <td class="dataBorder hyperMenuNav"><a class="quickLink" title="{{$ctrl.title2}}" href="{{quicklist.regionURL}}">&nbsp;{{quicklist.product}}&nbsp;</a></td>
            </tr>    
        </table>
        <div style=" margin:1% 0%; text-align:center">(or)&nbsp;&nbsp;Scroll through the products below</div>
    </div>
    
    <table style="  border:1px solid black; 
                    {{$ctrl.fontsize1}};         /* AR_1.00_0.65 */
                 ">
<!-- EZ Grabbit Yellow ************************************************************************************************************************************************-->
        <tr id="EZGY">
            <td style=" width:40%; border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-yellow-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           "> 
                            <span style="color:white;"><b>STANDARD EZ GRABBIT</b></span><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Shown here is the <i><b><u>Standard</u></b></i> EZ Grabbit. It is our mountable version. 
                                It is 6" (150mm) in length and is considered the "all around" tarp tie down. 
                                It has two features on the Dog Bone called mount risers. 
                                When screw mounted to a surface you can emanate a tarp from said surface.
                                But of course it's spectacularly well suited for rope leader use as well.
                            </div>
                            <a ui-sref="view00"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the standard EZ Grabbit."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <!--<a href="http://localhost:8000/ttd-vn-home/index.html#/intro"-->
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-ezg/index-ezg.html"
                                 class="btnStyle2"
                                 title="Takes you to the EZ Grabbit pages with detailed discussion, field applications, and specs."
                                 style= "display:inline-block;
                                         text-decoration:none;
                                         padding:3px 10px;
                                         {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                         {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                         {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                         {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                        "> 
                                Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
                           
                </div>
            </td>
        </tr>
<!-- EZ Grabbit Black ************************************************************************************************************************************************-->
        <tr id="EZGBL">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-black-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           "> 
                            <span style="color:white;"><b>STANDARD EZ GRABBIT</span></b><br>
                            <span style="color:blue"><b>GLOSS BLACK</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Shown here is the <i><b><u>Standard</u></b></i> EZ Grabbit. It is our mountable version. 
                                It is 6" (150mm) in length and is considered the "all around" tarp tie down. 
                                It has two features on the Dog Bone called mount risers. 
                                When screw mounted to a surface you can emanate a tarp from said surface.
                                But of course it's spectacularly well suited for rope leader use as well.
                            </div>
                            <a ui-sref="view00"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the standard EZ Grabbit."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-ezg/index-ezg.html"
                                    class="btnStyle2"
                                    title="Takes you to the EZ Grabbit pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
               </div>
            </td>
        </tr>
<!-- EZ Grabbit Green ************************************************************************************************************************************************-->
        <tr id="EZGG">
            <td style="border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-green-device-dbns-750x350.jpg" alt="ezg hivis image" style="width:100%">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           ">
                            <span style="color:white;"><b>CLASSIC EZ GRABBIT</span></b><br>
                            <span style="color:blue"><b>HI VIS GREEN</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The <i><b><u>Classic</u></b></i> EZ Gabbit 
                                is our non-mountable version. 
                                It does everything our standard EZ Grabbit does 
                                but has no mounting points on the Dog Bone.
                                As always the performance of our non-mountable 
                                EZ Grabbit is as superior as our mountable EZ Grabbit.
                            </div>
                            <a ui-sref="view09"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the classic EZ Grabbit."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-ezg/index-ezg.html#/intro"
                                    class="btnStyle2"
                                    title="Takes you to the EZ Grabbit pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
               </div>
            </td>
        </tr>
<!-- Long Grabbit ************************************************************************************************************************************************-->
        <tr id="LG">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                    <img src="components/top_menu/buy_price/ttd-vn-lg-device-750x350.jpg" alt="ezg image" style="width:100%;">
                    <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           ">
                            <span style="color:white;"><b>LONG GRABBIT</span></b><br> 
                            <span style="color:blue"><b>OLIVE DRAB</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Long Grabbit tarp tie down is our 20" model. It is 
                                ideal for securing large spans of material subject to 
                                wind forces when suspended in the open such as with 
                                overhead cover. It is also ideal for large 
                                "flanking" spans of material such as tarps 
                                over a haystack, etc. 
                            </div>
                            <a ui-sref="view01"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the Long Grabbit"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/components/components00_03/tmpl_01/ttd-vn-lg-not-complete-msg.html"
                                    class="btnStyle2"
                                    title="Takes you to the Long Grabbit pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                        Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
                </div>
            </td>
        </tr>
<!-- Mini Grabbit ************************************************************************************************************************************************-->
        <tr id="MG">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-mg-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           ">
                            <span style="color:white;"><b>MINI GRABBIT</span></b><br> 
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Mini Grabbit tarp tie down is a miniature version 
                                of EZ Grabbit. At a mere 1.625" (40mm) in length its 
                                mini size has a mighty hold. It is ideal for lightweight 
                                tarp and tent shelters and is intended for recreational 
                                users who travel lightly.  
                            </div>
                            <a ui-sref="view02"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the Mini Grabbit."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/components/components00_03/tmpl_02/ttd-vn-mg-not-complete-msg.html"
                                    class="btnStyle2"
                                    title="Takes you to the Mini Grabbit pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                        Go To:<br>&nbsp;App Pages&nbsp;
                            </a> 
               </div>
            </td>
        </tr>
<!-- EZ Adjust ************************************************************************************************************************************************-->
        <tr id="EZA">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-eza-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           ">
                            <span style="color:white;"><b>EZ ADJUST</span></b><br> 
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The EZ Adjust Rope Adjuster is perfect for use with ropes 
                                1/8" (3mm) diameter to 3/16" (5mm) diameter. Use it to 
                                adjust lines on tents, canopies, tarps, tarp shelters, 
                                etc. 
                            </div>
                            <a ui-sref="view03"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the EZ Adjust rope adjuster."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-eza/index-eza.html"
                                    class="btnStyle2"
                                    title="Takes you to the EZ Adjust pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            /*font-size:1.13em;*/
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                        Go To:<br>&nbsp;App Pages&nbsp;
                            </a> 
                </div>
            </td>
        </tr>
<!-- RockBuster ************************************************************************************************************************************************-->
        <tr id="RB">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-rb-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           "> 
                            <span style="color:white;"><b>ROCKBUSTER</span></b><br> 
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The RockBuster ground stake is 12" long with a
                                straight fluted design. Its non tapered blade
                                design insures good ground adhesion. 
                                It has an extra strong hold for anchoring: 
                                canopies, tents, tarps.
                            </div>
                            <a ui-sref="view04"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the RockBuster ground stake."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-rb/index-rb.html#/intro"
                                    class="btnStyle2"
                                    title="Takes you to the RockBuster pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            /*font-size:1.13em;*/
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
                </div>
            </td>
        </tr>
<!-- Bag Grabbit ************************************************************************************************************************************************-->
        <tr id="BG">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-bg-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           "> 
                            <span style="color:white;"><b>BAG GRABBIT</span></b><br> 
                            <span style="color:blue"><b>GOLDEN YELLOW<BR>BLACK HANDLE</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Close, carry and store bulky bags with ease!<br>
                                ► Works on all plastic bags and many multi-ply paper bags.<br>
                                ► Also works on tarps, plastic sheeting, and other materials.<br>
                                ► Use again and again, lasts a lifetime. 
                            </div>
                            <a ui-sref="view05"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the Bag Grabbit bag handle."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/components/components04_07/tmpl_05/ttd-vn-bg-not-complete-msg.html"
                                    class="btnStyle2"
                                    title="Takes you to the Bag Grabbit pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            /*font-size:1.13em;*/
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
               </div>
            </td>
        </tr>
<!-- Keeper ************************************************************************************************************************************************-->
        <tr id="KPR">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-kpr-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           "> 
                            <span style="color:white;"><b>The KEEPER</span></b><br>  
                            <span style="color:blue"><b>BLACK TABS</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Keeper is a retainer device. It is designed to 
                                keep the EZ Grabbit engaged regardless of the load 
                                circumstances. It is also used to keep the EZ Grabbit’s 
                                Sleeve and Dog Bone together when not in use.
                            </div>
                            <a ui-sref="view06"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the Keeper retainer device."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/components/components04_07/tmpl_06/ttd-vn-kpr-not-complete-msg.html"
                                    class="btnStyle2"
                                    title="Takes you to the Keeper pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            /*font-size:1.13em;*/
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
               </div>
            </td>
        </tr>
<!-- Carry Bag ************************************************************************************************************************************************-->
        <tr id="CB">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-cb-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           "> 
                            <span style="color:white;"><b>CARRY BAG</span></b><br>  
                            <span style="color:blue;"><b>HEAVY&nbsp; DUTY</b></span><br>
                            <span style="color:blue;"><b>W&nbsp; SIDE&nbsp; POUCH</b></span><br>
                            <div style="text-align:left; padding:0px 10px;">
                                This rugged carry bag is designed for carrying heavy 
                                camping gear, not to mention your entire 
                                Grabbit assortment.
                            </div>
                            <a ui-sref="view07"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the Carry Bag gear carrier."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/components/components04_07/tmpl_07/ttd-vn-cb-not-complete-msg.html"
                                    class="btnStyle2"
                                    title="Takes you to the Carry Bag pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            /*font-size:1.13em;*/
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>&nbsp;App Pages&nbsp;
                            </a> 
               </div>
            </td>
        </tr>
<!-- Tent Poles ************************************************************************************************************************************************-->
        <tr id="TP">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="components/top_menu/buy_price/ttd-vn-tp-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#d9d9d9;
                           "> 
                            <span style="color:white;"><b>TENT POLES</span></b><br>  
                            <span style="color:blue;"><b>GENERAL&nbsp; PURPOSE</b></span><br>
                            <div style="text-align:left; padding:0px 10px;">
                                These 8mm tent poles are great tent pole replacements 
                                but have additional uses when used in conjunction with 
                                our RockBuster ground stake.
                            </div>
                            <a ui-sref="view08"
                                    class="btnStyle2"
                                    title="Takes you to the thumbnail menu for more quick information about the Tent Poles."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    More:<br>&nbsp;Quick Info&nbsp;
                            </a>
                            <a href="https://www.tarptiedown.com/components/components08_11/tmpl_08/ttd-vn-tp-not-complete-msg.html"
                                    class="btnStyle2"
                                    title="Takes you to the Tent Pole pages with detailed discussion, field applications, and specs."
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            /*font-size:1.13em;*/
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>&nbsp;App Pages&nbsp;
                            </a>
                            <br><br>
               </div>
            </td>
        </tr>
    </table>
</div>
<script>

</script>        
