<style>

.style1
{
border:2px solid black;    
background:linear-gradient(#CCEDF2, #EAE2BB);              // Standard
background:-webkit-linear-gradient(#CCEDF2, #EAE2BB);      // Safari
background:-o-linear-gradient(#CCEDF2, #EAE2BB);           // Opera
background:-moz-linear-gradient(#CCEDF2, #EAE2BB);         // FireFox
}

.style2
{
font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
}

.style3
{
font-family: Futura, "Trebuchet MS", arial, sans-serif;    
}

button:hover
{
cursor:pointer;    
}

.btnStyle1
{
display:inline-block;
border:1px solid #b0b0b0;
border-radius:5px;
padding:3px 10px 2px 10px;
background: linear-gradient(to bottom, #fbfbfb, #d9d9d9);
font-family:arial;
text-decoration:none;
color:black;
margin-top:5px;
margin-bottom:5px;
font-size:1.0em;
}

</style>


    <div style="width:100%; 
                text-align:center; 
                {{$ctrl.fontsize2}};
                /*font-size:1.0em;*/
                ">
        <div class="style3"
             style="font-size:3.0em;
                    margin:5px 0px;
                    "><b>OUR PRODUCTS</b>
        </div>
        <!-- 
        <div style="font-size:2.0em">Select the TTD store button</div>
        <button onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php', '_blank')" 
                type="button" 
                style=" margin:10px 0px;
                        font-size:2.0em;
                        color:blue;
                        border:1px solid black;
                        border-radius:5px;
                ">TTD Store
        </button>
        <div style="font-size:2.00em">OR</div>
       
        <div style="margin:5px 0px;
                    padding:10px 5px 10px 5px;
                    font-size:2.0em;
                    color:blue;
                    background-color:yellow;
                    border:1px solid black;
                    border-radius:5px;
                    ">Select any item below to go directly<br>to that store item for the price details.</div> 
        <br>
        -->
        
    </div>

    <table style="  border:1px solid black; 
                    {{$ctrl.fontsize1}};         /* AR_1.00_0.65 */
                    /*font-size:0.65em;*/
                 ">
<!-- EZ Grabbit Yellow ************************************************************************************************************************************************-->
        <tr>
            <td style=" {{$ctrl.width1}};        /* AR_40.00_50.00 */
                        width:40%;        
                        border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-yellow-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>STANDARD EZ GRABBIT</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Shown here is the <i><b><u>Standard</u></b></i> EZ Grabbit. It is our mountable version. 
                                It is 6" (150mm) in length and is considered the "all around" tarp tie down. 
                                It has two features on the Dog Bone called mount risers. 
                                When screw mounted to a surface you can emanate a tarp from said surface.
                                But of course it's spectacularly well suited for rope leader use as well.
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view00',1)" 
                                    class="btnStyle1"> 
                                        Mountable EZ Grabbit Page
                            </button>
                </div>
            </td>
        </tr>
<!-- EZ Grabbit Black ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-black-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>STANDARD EZ GRABBIT</b><br>
                            <span style="color:blue"><b>GLOSS BLACK</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Shown here is the <i><b><u>Standard</u></b></i> EZ Grabbit. It is our mountable version. 
                                It is 6" (150mm) in length and is considered the "all around" tarp tie down. 
                                It has two features on the Dog Bone called mount risers. 
                                When screw mounted to a surface you can emanate a tarp from said surface.
                                But of course it's spectacularly well suited for rope leader use as well.
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view00',1)" 
                                    class="btnStyle1"> 
                                        Mountable EZ Grabbit Page
                            </button>
               </div>
            </td>
        </tr>
<!-- EZ Grabbit Green ************************************************************************************************************************************************-->
        <tr>
            <td style="border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-green-device-dbns-750x350.jpg" alt="ezg hivis image" style="width:100%">
            </td>
            <td class="style1">
                <div class="" 
                    style="text-align:center;
                           width:100%;
                           font-size:1.13em;
                           padding:3px 0px;
                          "> 
                            <b>CLASSIC EZ GRABBIT</b><br> 
                            <span style="color:blue"><b>HI VIS GREEN</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The <i><b><u>Classic</u></b></i> EZ Gabbit 
                                is our non-mountable version. 
                                It does everything our standard EZ Grabbit does 
                                but has no mounting points on the Dog Bone.
                                As always the performance of our non-mountable 
                                EZ Grabbit is as superior as our mountable EZ Grabbit.
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view09',3)" 
                                    class="btnStyle1">
                                        Non-Mount EZ Grabbit Page
                            </button>
               </div>
            </td>
        </tr>
<!-- Long Grabbit ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                    <img src="components/top_menu/buy_price/ttd-vn-lg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>LONG LONG GRABBIT</b><br>
                            <span style="color:blue"><b>OLIVE DRAB</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Long Grabbit tarp tie down is our 20" model. It is 
                                ideal for securing large spans of material subject to 
                                wind forces when suspended in the open such as with 
                                overhead cover. It is also ideal for large 
                                "flanking" spans of material such as tarps 
                                over a haystack, etc. 
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view01',1)" 
                                    class="btnStyle1">
                                        Long Grabbit Page
                            </button>
                </div>
            </td>
        </tr>
<!-- Mini Grabbit ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-mg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>MINI GRABBIT</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Mini Grabbit tarp tie down is a miniature version 
                                of EZ Grabbit. At a mere 1.625" (40mm) in length its 
                                mini size has a mighty hold. It is ideal for lightweight 
                                tarp and tent shelters and is intended for recreational 
                                users who travel lightly.  
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view02',1)" 
                                    class="btnStyle1">
                                        Mini Grabbit Page
                            </button>
               </div>
            </td>
        </tr>
<!-- EZ Adjust ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-eza-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>EZ ADJUST</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The EZ Adjust Rope Adjuster is perfect for use with ropes 
                                1/8" (3mm) diameter to 3/16" (5mm) diameter. Use it to 
                                adjust lines on tents, canopies, tarps, tarp shelters, 
                                etc. 
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view03',1)" 
                                    class="btnStyle1">
                                        EZ Adjust Page
                            </button>
                </div>
            </td>
        </tr>
<!-- RockBuster ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-rb-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                           "> 
                            <b>ROCKBUSTER</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The RockBuster ground stake is 12" long with a
                                straight fluted design. Its non tapered blade
                                design insures good ground adhesion. 
                                It has an extra strong hold for anchoring: 
                                canopies, tents, tarps.
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view04',2)" 
                                    class="btnStyle1">
                                        RockBuster Page
                            </button>
                </div>
            </td>
        </tr>
<!-- Bag Grabbit ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-bg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                           "> 
                            <b>BAG GRABBIT</b><br>
                            <span style="color:blue"><b>GOLDEN YELLOW<BR>BLACK HANDLE</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Close, carry and store bulky bags with ease!<br>
                                ► Works on all plastic bags and many multi-ply paper bags.<br>
                                ► Also works on tarps, plastic sheeting, and other materials.<br>
                                ► Use again and again, lasts a lifetime. 
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view05',2)" 
                                    class="btnStyle1">
                                        Bag Grabbit Page
                            </button>
               </div>
            </td>
        </tr>
<!-- Keeper ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-kpr-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                           "> 
                            <b>The KEEPER</b><br>
                            <span style="color:blue"><b>BLACK TABS</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Keeper is a retainer device. It is designed to 
                                keep the EZ Grabbit engaged regardless of the load 
                                circumstances. It is also used to keep the EZ Grabbit’s 
                                Sleeve and Dog Bone together when not in use.
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view06',2)" 
                                    class="btnStyle1">
                                        The Keeper Page
                            </button>
               </div>
            </td>
        </tr>
<!-- Carry Bag ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-cb-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>CARRY BAG</b><br>
                            <span style="font-size:1.00em;"><b>HEAVY&nbsp; DUTY</b></span><br>
                            <span style="font-size:1.00em;"><b>W&nbsp; SIDE&nbsp; POUCH</b></span><br>
                            <div style="text-align:left; padding:0px 10px;">
                                This rugged carry bag is designed for carrying heavy 
                                camping gear, not to mention your entire 
                                Grabbit assortment.
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view07',2)" 
                                    class="btnStyle1">
                                        Carry Bag Page
                            </button>
               </div>
            </td>
        </tr>
<!-- Tent Poles ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-tp-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>TENT POLES</b><br>
                            <span style="font-size:1.00em;"><b>GENERAL&nbsp; PURPOSE</b></span><br>
                            <div style="text-align:left; padding:0px 10px;">
                                These 8mm tent poles are great tent pole replacements 
                                but have additional uses when used in conjunction with 
                                our RockBuster ground stake.
                            </div>
                            <button ng-click="$ctrl.viewNgroup('view08',3)" 
                                    class="btnStyle1">
                                        Tent Poles Page
                            </button>
               </div>
            </td>
        </tr>
    </table>
<script>

</script>        
