<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

    <div style="width:100%; 
                text-align:center; 
                {{$ctrl.fontsize2}};
                /*font-size:1.0em;*/
                ">
        <div class="textStyle4"
             style="font-size:3.0em;
                    margin:5px 0px;
                    "><b>OUR PRODUCTS</b>
        </div>
    </div>

    <div data-ui-view="childView1" style="text-align:center; margin:2vh auto;">This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working</div> 

    <table style="  border:1px solid black; 
                    {{$ctrl.fontsize1}};         /* AR_1.00_0.65 */
                 ">
<!-- EZ Grabbit Yellow ************************************************************************************************************************************************-->
        <tr>
            <td style=" width:40%; border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-yellow-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>STANDARD EZ GRABBIT</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Shown here is the <i><b><u>Standard</u></b></i> EZ Grabbit. It is our mountable version. 
                                It is 6" (150mm) in length and is considered the "all around" tarp tie down. 
                                It has two features on the Dog Bone called mount risers. 
                                When screw mounted to a surface you can emanate a tarp from said surface.
                                But of course it's spectacularly well suited for rope leader use as well.
                            </div>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-ezg/index-ezg.html#/intro"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>Mountable EZ Grabbit Pages
                            </a>
                            
                </div>
            </td>
        </tr>
<!-- EZ Grabbit Black ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-black-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>STANDARD EZ GRABBIT</b><br>
                            <span style="color:blue"><b>GLOSS BLACK</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Shown here is the <i><b><u>Standard</u></b></i> EZ Grabbit. It is our mountable version. 
                                It is 6" (150mm) in length and is considered the "all around" tarp tie down. 
                                It has two features on the Dog Bone called mount risers. 
                                When screw mounted to a surface you can emanate a tarp from said surface.
                                But of course it's spectacularly well suited for rope leader use as well.
                            </div>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-ezg/index-ezg.html#/intro"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>Mountable EZ Grabbit Pages
                            </a>
               </div>
            </td>
        </tr>
<!-- EZ Grabbit Green ************************************************************************************************************************************************-->
        <tr>
            <td style="border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-green-device-dbns-750x350.jpg" alt="ezg hivis image" style="width:100%">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                    style="text-align:center;
                           width:100%;
                           font-size:1.13em;
                           padding:3px 0px;
                          "> 
                            <b>CLASSIC EZ GRABBIT</b><br> 
                            <span style="color:blue"><b>HI VIS GREEN</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The <i><b><u>Classic</u></b></i> EZ Gabbit 
                                is our non-mountable version. 
                                It does everything our standard EZ Grabbit does 
                                but has no mounting points on the Dog Bone.
                                As always the performance of our non-mountable 
                                EZ Grabbit is as superior as our mountable EZ Grabbit.
                            </div>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-ezg/index-ezg.html#/intro"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>Non-Mount EZ Grabbit Pages
                            </a>
               </div>
            </td>
        </tr>
<!-- Long Grabbit ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                    <img src="components/top_menu/buy_price/ttd-vn-lg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>LONG LONG GRABBIT</b><br>
                            <span style="color:blue"><b>OLIVE DRAB</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Long Grabbit tarp tie down is our 20" model. It is 
                                ideal for securing large spans of material subject to 
                                wind forces when suspended in the open such as with 
                                overhead cover. It is also ideal for large 
                                "flanking" spans of material such as tarps 
                                over a haystack, etc. 
                            </div>
                            <a href="https://www.tarptiedown.com/components/components00_03/tmpl_01/ttd-vn-lg-not-complete-msg.html"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                        Go To:<br>Long Grabbit Pages
                            </a>
                </div>
            </td>
        </tr>
<!-- Mini Grabbit ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-mg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>MINI GRABBIT</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Mini Grabbit tarp tie down is a miniature version 
                                of EZ Grabbit. At a mere 1.625" (40mm) in length its 
                                mini size has a mighty hold. It is ideal for lightweight 
                                tarp and tent shelters and is intended for recreational 
                                users who travel lightly.  
                            </div>
                            <a href="https://www.tarptiedown.com/components/components00_03/tmpl_02/ttd-vn-mg-not-complete-msg.html"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                        Go To:<br>Mini Grabbit Pages
                            </a> 
               </div>
            </td>
        </tr>
<!-- EZ Adjust ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-eza-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                           "> 
                            <b>EZ ADJUST</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The EZ Adjust Rope Adjuster is perfect for use with ropes 
                                1/8" (3mm) diameter to 3/16" (5mm) diameter. Use it to 
                                adjust lines on tents, canopies, tarps, tarp shelters, 
                                etc. 
                            </div>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-eza/index-eza.html"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                        Go To:<br>EZ Adjust Pages
                            </a> 
                </div>
            </td>
        </tr>
<!-- RockBuster ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-rb-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                           "> 
                            <b>ROCKBUSTER</b><br>
                            <span style="color:blue"><b>CANARY YELLOW</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The RockBuster ground stake is 12" long with a
                                straight fluted design. Its non tapered blade
                                design insures good ground adhesion. 
                                It has an extra strong hold for anchoring: 
                                canopies, tents, tarps.
                            </div>
                            <a href="https://www.tarptiedown.com/ttd-vn/ttd-vn-rb/index-rb.html#/intro"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>RockBuster Pages
                            </a>
                </div>
            </td>
        </tr>
<!-- Bag Grabbit ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-bg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                           "> 
                            <b>BAG GRABBIT</b><br>
                            <span style="color:blue"><b>GOLDEN YELLOW<BR>BLACK HANDLE</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                Close, carry and store bulky bags with ease!<br>
                                ► Works on all plastic bags and many multi-ply paper bags.<br>
                                ► Also works on tarps, plastic sheeting, and other materials.<br>
                                ► Use again and again, lasts a lifetime. 
                            </div>
                            <a href="https://www.tarptiedown.com/components/components04_07/tmpl_05/ttd-vn-bg-not-complete-msg.html"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>Bag Grabbit Pages
                            </a>
               </div>
            </td>
        </tr>
<!-- Keeper ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-kpr-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                           "> 
                            <b>The KEEPER</b><br>
                            <span style="color:blue"><b>BLACK TABS</b></span>
                            <div style="text-align:left; padding:0px 10px;">
                                The Keeper is a retainer device. It is designed to 
                                keep the EZ Grabbit engaged regardless of the load 
                                circumstances. It is also used to keep the EZ Grabbit’s 
                                Sleeve and Dog Bone together when not in use.
                            </div>
                            <a href="https://www.tarptiedown.com/components/components04_07/tmpl_06/ttd-vn-kpr-not-complete-msg.html"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>The Keeper Pages
                            </a>
               </div>
            </td>
        </tr>
<!-- Carry Bag ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-cb-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>CARRY BAG</b><br>
                            <span style="font-size:1.00em;"><b>HEAVY&nbsp; DUTY</b></span><br>
                            <span style="font-size:1.00em;"><b>W&nbsp; SIDE&nbsp; POUCH</b></span><br>
                            <div style="text-align:left; padding:0px 10px;">
                                This rugged carry bag is designed for carrying heavy 
                                camping gear, not to mention your entire 
                                Grabbit assortment.
                            </div>
                            
                            <a href="https://www.tarptiedown.com/components/components04_07/tmpl_07/ttd-vn-cb-not-complete-msg.html"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>Carry Bag Pages
                            </a> 
               </div>
            </td>
        </tr>
<!-- Tent Poles ************************************************************************************************************************************************-->
        <tr>
            <td style=" border:1px solid black; background-color:white;">
                <img src="components/top_menu/buy_price/ttd-vn-tp-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="textBoxStyle3">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>TENT POLES</b><br>
                            <span style="font-size:1.00em;"><b>GENERAL&nbsp; PURPOSE</b></span><br>
                            <div style="text-align:left; padding:0px 10px;">
                                These 8mm tent poles are great tent pole replacements 
                                but have additional uses when used in conjunction with 
                                our RockBuster ground stake.
                            </div>
                            <a href="https://www.tarptiedown.com/components/components08_11/tmpl_08/ttd-vn-tp-not-complete-msg.html"
                                    class="btnStyle2"
                                    style= "display:inline-block;
                                            text-decoration:none;
                                            font-size:1.13em;
                                            padding:3px 10px;
                                            {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                            {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                            {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                            {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                                           "> 
                                    Go To:<br>Tent Pole Pages
                            </a> 
               </div>
            </td>
        </tr>
    </table>
<script>

</script>        
