<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

<!--************************************************************************************************************************************************-->
<div style="font-size:1em;">    
   
<!-- AR Response Section 1 ************************************************************************************************************************************************-->
    <table style="width:100%">
        <tr>
            <td style="{{$ctrl.rs1width1}}; vertical-align:top;">
                <div    class="textStyle2"
                        style= "text-align:center;
                                width:100%;
                                {{$ctrl.rs1fontsize3}};
                               ">
                    <span style="font-size:1.75em">THE KEEPER</span><br>
                    <div style="display:inline-block;
                                width:85%; 
                                background-color:#EFEFEF; 
                                border:1px solid black;
                                border-radius:6px;
                                padding:0px 0px 10px 0px;
                               ">
                        an<br>EZ Grabbit Accessory
                    </div>
                </div>  
                <div style="text-align:center;
                            width:100%;
                            {{$ctrl.rs1fontsize1}}; 
                            ">
                    <div    class="textStyle3"
                            style= "display:inline-block;
                                    color:black; 
                                    text-align:left;
                                    width:85%;
                                   ">
                        <br>The Keeper adds an extra level of engagement by keeping the Dog Bone and Sleeve engaged regardless of circumstances or conditions. 
                    </div>
                </div>
                
            </td>
            <td style="{{$ctrl.rs1width2}};">
                <img    src="components/components04_07/tmpl_06/ttd-vn-kpr-device-presentation1-1080x660.jpg" 
                        alt="Keeper Device." 
                        title="Keeper Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- AR Response Section 2 ************************************************************************************************************************************************-->
    <div style="text-align:center;">
        <div class="textStyle2" 
             style="display:inline-block;
                    margin-top:7px;
                    color:black;
                    background-color:yellow;
                    padding:5px 10px;
                    border:2px solid black;
                    border-radius:5px;
                    {{$ctrl.rs2fontsize2}};
                    ">
            KEEP EZ GRABBIT ENGAGED WHEN ALL ELSE ISN'T
        </div>
    </div>
    <br>
    
<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <div style="position:relative;">
        
        <img    src="components/components04_07/tmpl_06/ttd-vn-kpr-app1-1200x1050.jpg" 
                alt="Keeper Application" 
                title="Keeper Application" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
        
        <div style="position:absolute; {{$ctrl.rs3top1}}; left:2%; width:100%; z-index:3;">  
            <div data-ui-view="childView1" 
                 title="This Read About has a link to Keeper pages"
                 style="margin:1vh auto;">
                        This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working
            </div>
        </div>
    </div>
</div> 

