<style>
.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:white;
text-shadow:    1px 0px 1px black, 2px 0px 2px black, 3px 0px 3px black, 
                1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black,
                0px 1px 1px black, 0px 2px 2px black, 0px 3px 3px black,

                -1px 1px 1px black, -2px 2px 2px black, -3px 3px 3px black,
                -1px 0px 1px black, -2px 0px 2px black, -3px 0px 3px black,
                
                -1px -1px 1px black, -2px -2px 2px black, -3px -3px 3px black,
                 0px -1px 1px black,  0px -2px 2px black,  0px -3px 3px black,
                 1px -1px 1px black,  2px -2px 2px black,  3px -3px 3px black;
}

.fontFam
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;     
}

.imageStyle1:hover
{
background-color:black; 
border-radius:10px;
box-shadow: 1px 1px 15px #CCEDF2, 1px -1px 15px #CCEDF2, -1px 1px 15px #CCEDF2, -1px -1px 15px #CCEDF2,
            1px 1px 25px #EAE2BB, 1px -1px 25px #EAE2BB, -1px 1px 25px #EAE2BB, -1px -1px 25px #EAE2BB,
            1px 1px 25px #EAE2BB, 1px -1px 25px #EAE2BB, -1px 1px 25px #EAE2BB, -1px -1px 25px #EAE2BB;
}

</style>
<!--************************************************************************************************************************************************-->
<div style="text-align:center;">    
   
<!-- AR Response Section 1 ************************************************************************************************************************************************-->
    <table style="width:100%">
        <tr>
            <td style="{{$ctrl.rs1width1}}; vertical-align:top;">
                <div    class="fontFam"
                        style=" width:100%;
                                {{$ctrl.rs1fontsize3}};
                                ">
                    <span style="font-size:1.75em">THE KEEPER</span><br>
                    <div style="position:relative; 
                                left:7.5%; 
                                width:85%; 
                                background-color:#EFEFEF; 
                                border:1px solid black;
                                border-radius:6px;
                                ">an<br>EZ Grabbit Accessory</div>
                </div>    
                <div    id="div1" 
                        style="font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; 
                               {{$ctrl.rs1fontsize1}}; 
                               color:black; 
                               text-align:left;
                               width:85%;
                               position:relative;
                               left:7.5%;
                               ">
                    <br>The Keeper adds an extra level of engagement by keeping the Dog Bone and Sleeve engaged regardless of circumstances or conditions. 

                </div>
            </td>
            <td style="{{$ctrl.rs1width2}};">
                <img    src="components/components04_07/tmpl_06/ttd-vn-kpr-device-presentation1-1080x660.jpg" 
                        alt="EZ Adjust Device." 
                        title="EZ Adjust Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- AR Response Section 2 ************************************************************************************************************************************************-->
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}};
                display:inline-block;
                margin-top:7px;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        KEEP EZ GRABBIT ENGAGED WHEN ALL ELSE ISN'T
    </div>
    <br>
    
<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <div style="position:relative;">
        
        <div style="  position:absolute; 
                        {{$ctrl.rs3positiontop1}}; 
                        {{$ctrl.rs3positionleft1}}; 
                        z-index:2;">
                    <a href="https://www.tarptiedown.com"> 
                        <img src="https://tarptiedown.com/resources/ttd-vn-button3-300x120.png" 
                             alt="button" 
                             class="imageStyle1"
                             style="{{$ctrl.rs3width3}};">
                    </a>
        </div>
        
        <img    src="components/components04_07/tmpl_06/ttd-vn-kpr-app1-1200x1050.jpg" 
                alt="Keeper Application" 
                title="Keeper Application" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
    </div>

</div> 

