<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

<style>
h4
{
color:blue;    
width:500px;    

}
    
</style>

<div style="text-align:center;">
    <img src="components/components12_15/tmpl_15/IMAG0378.jpg" style="width:200px; border:2px solid black; border-radius:15px;  ">
    <img src="components/components12_15/tmpl_15/DSCN3469.jpg" style="width:200px; border:2px solid black; border-radius:15px;  ">
    <!--<img src="templates/tmpl_15/IMAG0378.jpg" style="width:400px;">-->
</div>    

<div style="font-size:60px;">VIEW NAV - This is component15 from view nav</div>
<h3> The beginnings of a new browsing concept</h3>
<h4 ng-bind-html="$ctrl.display"></h4>
<button ng-click="$ctrl.viewBtn(0)">Call function test</button>
<div>And the verdict is: {{$ctrl.btnAction01}}</div>
<div>And from the service: {{$ctrl.display2}}</div>
