<style>
.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:red;
text-align:center; 
}

.fontFam
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;     
}

.imageStyle1:hover
{
background-color:black; 
border-radius:10px;
box-shadow: 1px 1px 15px #CCEDF2, 1px -1px 15px #CCEDF2, -1px 1px 15px #CCEDF2, -1px -1px 15px #CCEDF2,
            1px 1px 25px #EAE2BB, 1px -1px 25px #EAE2BB, -1px 1px 25px #EAE2BB, -1px -1px 25px #EAE2BB,
            1px 1px 25px #EAE2BB, 1px -1px 25px #EAE2BB, -1px 1px 25px #EAE2BB, -1px -1px 25px #EAE2BB;
}

</style>

<div style="text-align:center;">    

<!-- AR Response Section 1 ************************************************************************************************************************************************-->

    <table style="width:100%">
        <tr>
            <td style="width:50%; vertical-align:top;">
                <img    src="components/components00_03/tmpl_03/ttd-vn-eza-logo-1000x400.jpg"
                        alt="EZ Adjust Logo"
                        title="EZ Adjust Logo"
                        style=" width:90%;
                                {{$ctrl.rs1margintop2}};">
                
                <div    id="div1" 
                        style="font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; 
                               {{$ctrl.rs1fontsize1}}; 
                               /*font-size:3em;*/
                               color:black; 
                               /*text-indent:5%; */
                               //text-shadow:1px 1px 1px black;">
                    <br>Use with 1/8" & 3/16" rope
                </div>
            </td>
            <td style="width:50%">
                <img    src="components/components00_03/tmpl_03/ttd-vn-eza-device-1300x810.jpg" 
                        alt="EZ Adjust Device." 
                        title="EZ Adjust Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};
                                /*border:1px solid black;*/
                                "> 
            </td>
        </tr>
    </table>

<!-- AR Response Section 2 ************************************************************************************************************************************************-->
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}};  
                display:inline-block;
                margin-top:7px;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        ADJUST ROPE LINES ON TENTS, CANOPIES, ETC.
    </div>
   
<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <br>
    <div style="position:relative;">
        
        <div style="position:absolute; 
                    {{$ctrl.rs3positiontop1}}; 
                    {{$ctrl.rs3positionleft1}}; /* AR_80_75 */
                    z-index:2;">
                    <a href="https://www.tarptiedown.com/index-old.html"> 
                        <img src="https://tarptiedown.com/resources/ttd-vn-button3-300x120.png" 
                             alt="button" 
                             class="imageStyle1"
                             style="{{$ctrl.rs3width3}};">
                    </a>
        </div>
        
        <img    src="components/components00_03/tmpl_03/ttd-vn-eza-app1-1200x900.jpg" 
                alt="EZ Adjust Application" 
                title="EZ Adjust Application" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
    </div>

</div> 

