<style>
.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:red;
text-align:center; 
}

.fontFam
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;     
}

</style>

<div style="text-align:center;">    
   
    <table style="width:100%">
        <tr>
            <td style="width:50%; vertical-align:top;">
                <img    src="components/components00_03/tmpl_03/ttd-vn-eza-logo-1000x400.jpg"
                        alt="EZ Adjust Logo"
                        title="EZ Adjust Logo"
                        style=" width:90%;
                                {{$ctrl.margintop2}};">
                
                <div    id="div1" 
                        style="font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; 
                               {{$ctrl.fontsize1}}; 
                               /*font-size:3em;*/
                               color:black; 
                               /*text-indent:5%; */
                               //text-shadow:1px 1px 1px black;">
                    <br>Use with 1/8" & 3/16" rope
                </div>
            </td>
            <td style="width:50%">
                <img    src="components/components00_03/tmpl_03/ttd-vn-eza-device-1200x745.jpg" 
                        alt="EZ Adjust Device." 
                        title="EZ Adjust Device" 
                        style=" width:100%; 
                                {{$ctrl.margintop1}};
                                border:1px solid black;"> 
            </td>
        </tr>
    </table>
 
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.fontsize2}};  
                display:inline-block;
                margin-top:7px;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        ADJUST ROPE LINES ON TENTS, CANOPIES, ETC.
    </div>
   
    <br>
    <div style="position:relative;">
        
        <table style=" position:absolute; {{$ctrl.positiontop1}}; {{$ctrl.positionleft1}}; z-index:2;">
            <tr>
                <td style="text-align:right;">
                    <a href="https://www.tarptiedown.com"> 
                        <img src="https:/tarptiedown.com/resources/ttd-vn-button2-600x600.png" alt="button" style="{{$ctrl.width3}};">
                    </a>
                </td>
                <td class="fontFam"
                    style=" vertical-align:middle; 
                            text-align:left; 
                            ">
                    <div style="background-color:yellow;
                                border:1px solid black;
                                padding:5px 7px; 
                                {{$ctrl.fontsize4}}; 
                                border-radius:7px;
                                margin-bottom:0px;
                                box-shadow:3px 3px 13px black;">
                        &#9668; For all things EZ Adjust
                    </div>
                </td>
            </tr>
        </table>
        
        <img    src="components/components00_03/tmpl_03/ttd-vn-eza-app1-1200x900.jpg" 
                alt="EZ Adjust Application" 
                title="EZ Adjust Application" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
    </div>

</div> 

