<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">


<div  class="textStyle4"
      style= "text-align:center;
              /*background-color:gray;*/
              background-image: linear-gradient(to bottom, rgba(128,128,128,.8), rgba(255,255,255,0)); 
              height:3vh;
              color:white;
              padding:0.3vh 0 1vh 0;
              border-radius:7px;
              /*font-size:1.25em;*/
              font-size:0.65em;
              text-shadow:0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
              letter-spacing:1px;
             ">
              INFO THIS PAGE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LOCAL MENU
</div>


<div style="font-size:initial;">
<!-- AR Response Section 1 ************************************************************************************************************************************************-->
    <div class="textStyle4" 
         style="text-align:center;">

        <img src="components/top_menu/intro/TTD-Logo-1200x225-08-07-2017.png" 
             alt="Tarp Tie Down Company Official Logo"  
             title="EZ Grabbit: When a tarp clip just won't do" 
             style="width:80%; border-radius:5px; margin-top:5px;">
        <div style="{{$ctrl.rs1fontsize1}};"><b>Home of the EZ Grabbit Tarp Tie Down</b></div>
    </div>
    <div data-ui-view="childView1" 
         style="text-align:center; 
                margin:2vh auto;
               ">
                This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working
    </div>
    
    <div class="textStyle4"
         style="width:100%; 
                text-align:center; 
                vertical-align:top;
               ">
        <img src="components/top_menu/intro/ttd-vn-ezg-yellow-device-dbns-750x300.jpg" alt="EZ Grabbit Device" style="{{$ctrl.rs1width1}}"><br>
        <span style="{{$ctrl.rs1fontsize1}};   /* AR_2.00_0.90 */
              "><b>Over one million sold</b></span>
    </div>
        

    <hr style="{{$ctrl.rs2margin1}};">

    <!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <table  class="textStyle4" 
            style= "width:100%; 
                    text-align:center; 
                    {{$ctrl.rs3fontsize1}};
                   ">
        <tr>
            <td style="width:8%;"></td>
            <td style="width:21%; text-align:center;">
               <a   href="https://www.tarptiedown.com/resources/common-templates/policy_pages/ttd-vn-privacy-policy.htm" 
                    target="_blank" 
                    class="btnStyle2" 
                    style="text-decoration:none; {{$ctrl.rs3width1}}">Privacy<br>Policy</a>
            </td>
            <td style="width:21%; text-align:center;">
               <a   href="https://www.tarptiedown.com/resources/common-templates/policy_pages/ttd-vn-contact-policy.htm" 
                    target="_blank"
                    class="btnStyle2" 
                    style="text-decoration:none; {{$ctrl.rs3width1}}">Contact<br>US</a>
            </td>
            <td style="width:21%; text-align:center;">
               <a   href="https://www.tarptiedown.com/resources/common-templates/policy_pages/ttd-vn-return-policy.htm" 
                    target="_blank" 
                    class="btnStyle2"  
                    style="text-decoration:none; {{$ctrl.rs3width1}}">Return<br>Policy</a>
            </td>
            <td style="width:21%; text-align:center;">
               <a   href="https://www.tarptiedown.com/resources/common-templates/policy_pages/ttd-vn-ship-policy.htm" 
                    target="_blank" 
                    class="btnStyle2"  
                    style="text-decoration:none; {{$ctrl.rs3width1}}">Shipping<br>Policy</a>
            </td>
            <td style="width:8%"></td>
        </tr>    
    </table><br>    
   
    <!--style="height:45px;-->
    <!-- AR Response Section 4 ************************************************************************************************************************************************-->
    <table  class="textStyle4"
            style= "width:100%; 
                    background-color:lightgray; 
                    border:1px solid black; 
                    border-radius:7px;
                    {{$ctrl.rs4fontsize1}};     
                   ">
        <tr><th colspan="4" style="padding:5px 0px;">Our site is secure - select a merchant seal to verify</th></tr>
        <tr style="width:100%;">

                    <td style="width:40%; text-align:center;">
                        <img src="https://www.tarptiedown.com/TTD-Store/storefront/view/default/image/payment_VISA_MC_0.75W.png" alt="VISA and MasterCard icons" style="width:90%;">
                    </td>
                    <td style="width:20%; text-align:center;">
                        <a href="https://www.tarptiedown.com/resources/common-templates/top_menu/policy_tmpl/merchant_seals.html" target="_blank"><img src="resources/images/AuthorizeNet-330x260.png" alt="Authorize.net seal" style="width:90%;"></a>
                    </td>

                    <td id="siteseal" style="width:20%; text-align:center;">
                        <a href="https://www.tarptiedown.com/resources/common-templates/top_menu/policy_tmpl/merchant_seals.html" target="_blank"><img src="resources/images/godaddy.png" alt="goDaddy seal" style="width:90%;"></a>
                    </td>

                    <td id="trustwaveSeal" style="width:20%; text-align:center;">
                        <a href="https://www.tarptiedown.com/resources/common-templates/top_menu/policy_tmpl/merchant_seals.html" target="_blank"><img src="resources/images/trustwavelogo_vertical.png" alt="trustwave seal" style="width:90%;"></a>
                    </td>   
        </tr>  
        <tr>
            <td colspan="4" style="text-align:center;">
                Copyright © 2018 Tarp Tie Down Company LLC.<br>All rights reserved.
            </td>
        </tr>
    </table>
</div>