<style>

div
{
font-size:16px;    
font-family: Futura, "Trebuchet MS", Arial, sans-serif;    
}

</style>

<div style="text-align:center;">
   
    <img src="components/top_menu/intro/TTD-Logo-1200x225-08-07-2017.png" 
         alt="Tarp Tie Down Company Official Logo"  
         title="EZ Grabbit: When a tarp clip just won't do" 
         style="width:80%; border-radius:5px; margin-top:5px;">
    <div style="{{$ctrl.fontsize2}};">Home of the EZ Grabbit Tarp Tie Down</div>
    <!--<div style="font-size:2em;">Home of the EZ Grabbit Tarp Tie Down</div>-->
</div>
<div style="text-align:center;">
    <button ng-click="$ctrl.newWindow();" 
            style=" font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
                    {{$ctrl.fontsize4}}; 
                    color:#0099ff; 
                    margin:10px 0px;">Navigate this site - learn how in 15 secs.
    </button>
</div>

<table style="">
    <tr>
        <td style="{{$ctrl.width1}}; padding-left:1%;">
            <div style="{{$ctrl.fontsize3}};">
                The EZ Grabbit Tarp Tie Down is our most popular product.
            </div>
            <br>
            <div style="{{$ctrl.fontsize5}};
                        text-align:left;
                        color:red"> <u>To navigate:</u><br>
                                    1) Select numbered button.<br>
                                    2) Select thumbnail(s)<br>
                                    3) Roam around<br>
                                    4) Repeat as needed<br>
                                    5) Select Intro at top<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;for this page
            </div>
            <!--<span style="color:blue;">Click or mouse on button 1 then click a thumbnail image. Likewise for the other numbered buttons.</span>-->
        </td>
        <td ng-show="1" style="{{$ctrl.width2}}; text-align:center; vertical-align:top;">
            <img src="https://www.tarptiedown.com/resources/ttd-vn-website-ezg-device-dbns-720x269.png" alt="EZ Grabbit Device" style="width:100%"><br>
            <span style="{{$ctrl.fontsize6}}">The EZ Grabbit</span>
        </td>
    </tr>
    <tr ng-show="0">
        <td>
            <img src="https://www.tarptiedown.com/resources/ttd-vn-website-ezg-device-dbns-720x269.png" alt="EZ Grabbit Device" style="width:100%">
        </td>
    </tr>
</table>
