<div>
    <table>
        <tr>
            <td style="width:30%">
                If lost:
            </td>
            <td>
                Select "Intro" at top
            </td>
        </tr>
        <tr>
            <td style="width:30%">
                Step 1::
            </td>
            <td>
                Select a numbered button
            </td>
        </tr>
        <tr>
            <td style="width:30%">
                Step 2:
            </td>
            <td>
                Select a thumbnail image
            </td>
        </tr>
    </table>
    
    
    
    
</div>