<div style="font-size:1.5em;">Top Menu:</div>

<div>
    The menu along the top is general information.
</div>
<br><br>

<div style="font-size:1.5em;">Lettered Button Menu:</div>

<div>
    The lettered button menu and thumbnails focus on the various products, product details 
    including product discussion, applications, instructions, specifications, etc.
</div>
<br><br>

<div style="font-size:1.5em">NAVIGATE / NAVIGATE MAP Button</div>

<div>
The NAVIGATE and/or NAVIGATE MAP button opens a list of the the various 
categories and contents of the various choices. Generally, you are never more
than a two or three selections away from all content on this site.
</div><br>
<div>
    <img src="ttd-vn-navigate-directions.jpg" alt="test" style="width:100%">
</div>