<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">
<div style="{{$ctrl.fontsize1}};">
    <table style="width:95%; margin:0px auto;">
        <tr>
            <td style="width:75%; text-align:center;">
                <img src="components/top_menu/intro/construction-panel.jpeg" 
             alt="construction graphic"
             style="width:100%;"
             >
            </td>    
            <td style="width:25%; text-align:center;">
                
                <a ui-sref="intro" 
                        class="btnStyle2"
                        style="font-size:0.7em;"
                               >Return to<br>TTD Intro
                </a>
            </td>
        </tr>
    </table>

    <div style="font-size:1.0em; margin:5px 20px;">
        <span class="textStyle4" style="color:blue; font-size:0.7em;"><b>Updates ongoing as of 10/24/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.7em;"><b>Updates ongoing as of 10/18/2018</b></span><br>
        This is our new mobile friendly website.
        We are in a transition process from our old website. 
        Pages that are not yet complete will link to our old website. 
        This transition is ongoing and will have updates almost daily. 
        The majority of updates will be new content. The remaining 
        updates will be major and minor operating fixes. Thank you!
    </div>
</div>    
