<div style="{{$ctrl.fontsize1}};">
    <table style="width:95%; margin:0px auto;">
        <tr>
            <td style="width:75%; text-align:center;">
                <img src="components/top_menu/intro/construction-panel.jpeg" 
             alt="construction graphic"
             style="width:100%;"
             >
            </td>    
            <td style="width:25%; text-align:center;">
                
                <a  ui-sref="intro" 
                    class="btnStyle2"
                    >Return to<br>TTD Home
                </a>
            </td>
        </tr>
    </table>

    <div style="font-size:1.0em; margin:5px 20px;">
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; Updates ongoing as of 10/24/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; Updates ongoing as of 10/18/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; RockBuster Pages added 11/17/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; EZ Adjust Pages added 11/29/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; Updates ongoing as of 12/19/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; Mini Grabbit Pages added 12/25/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; Updates ongoing as of 12/30/2018</b></span><br>
        <span class="textStyle4" style="color:blue; font-size:0.8em; line-height:150%;"><b>&#9679; Updates ongoing as of 02/13/2019</b></span><br><br>
        This is our new mobile friendly website.<br>
        However, we're in ongoing construction mode. 
        Mostly new content is being added. But also, as better website navigation 
        ideas come to bear we're applying those as well.
        The good news is you can shop our store anytime by clicking the 
        <span style="color:blue;"><b>Price/Buy</b></span> link at the top of the page.<br>
        Thank you!
        <br><br><br>
    </div>
</div>    
