
<div style="{{$ctrl.fontsize1}};">
    <table style="width:95%; margin:0px auto;">
        <tr>
            <td style="width:75%; text-align:center;">
                <img src="components/top_menu/intro/construction-panel.jpeg" 
             alt="construction graphic"
             style="width:100%;"
             >
            </td>    
            <td style="width:25%; text-align:center;">
                <a ui-sref="intro" 
                        style= "width:100%;
                                font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
                                font-size:0.75em; 
                                color:#0099ff; 
                                display:inline-block;
                                border:1px solid #b0b0b0;
                                border-radius:5px;
                                /*padding:3px 0px 2px 0px;*/
                                background: linear-gradient(to bottom, #fbfbfb, #d9d9d9);
                                text-decoration:none;
                               ">Return to<br>TTD Intro
                </a>
            </td>
        </tr>
    </table>

    <div style="font-size:1.0em; margin:5px 20px;">
        This is our new mobile friendly website.
        We are in a transition process from our old website. 
        Pages that are not yet complete will link to our old website. 
        This transition is ongoing and will have updates almost daily. 
        The majority of updates will be new content. The remaining 
        updates will be minor operating fixes. Thank you!
    </div>
</div>    
