<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<p style="font-size:16px">
	These 8mm tent poles are great replacements but have additional uses when used in conjunction with our RockBuster ground stake among others.</p>
<hr />
<p style="font-size:20px;color:black;">
	<span style="font-size:20px;">Qty 12 - 8mm dia. Tent Poles</span><br />
	<span style="font-size:12px; line-height:180%;">► 10 tent poles with connectors<br />
	► 2 tent poles without connectors<br />
	► Poles are 24" (60cm) long<br />
	► Through holes in all poles for elastic cord<br />
	► 24 feet (7.3m)</span></p>
<div>
	<a href="https://www.tarptiedown.com/viewNavTest/index.html" style="border:1px solid black; border-radius:5px; padding:5px 10px; background-color:#d9f2d9;">Select to see other uses</a></div>





</body>
</html>
