<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

<div style="text-align:center;">    
   
<!-- Response Section 1 ************************************************************************************************************************************************-->
    <table style="width:100%">
        <tr>
            <td style="{{$ctrl.rs1width1}}; vertical-align:top;">
                <img    src="components/components00_03/tmpl_01/ttd-vn-lg-logo-825x375.jpg"
                        alt="Long Grabbit Logo"
                        title="Long Grabbit Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
            </td>
            <td style="{{$ctrl.rs1width2}};">
                <img    src="components/components00_03/tmpl_01/ttd-vn-lg-device-od-1200x525.jpg" 
                        alt="EZ Grabbit Tarp Tie Down Official Logo" 
                        title="Long Grabbit Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>
    
<!-- Response Section 2 ************************************************************************************************************************************************-->
    <div style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize1}}; 
                /*font-size:3em;*/
                color:red; 
                text-shadow:1px 1px 1px black;
                ">
        500mm of pure holding power!
    </div>
    <div style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}}; 
                {{$ctrl.rs2margintop1}};        /* AR_20px_5px */
                /*margin-top:5px;*/
                {{$ctrl.rs2marginbottom1}};     /* AR_20px_7px */
                /*margin-bottom:7px;*/
                display:inline-block;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        VERSATILE, REUSABLE, SUPERIOR HOLD!
    </div>
    
    <div style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                /*padding:10px 5px 5px 0px; */
                {{$ctrl.rs2fontsize3}}; 
                
             "> 
        The Long Grabbit's super-strong hold and long gripping edge is ideal
        for securing large spans of tarp for big shelters, tarp walls, and windbreaks.
    </div>


<!-- Response Section 3 ************************************************************************************************************************************************-->

    <div style="position:relative;
                {{$ctrl.rs3fontsize1}};
               ">
        <img    src="components/components00_03/tmpl_01/ttd-vn-lg-presentation1-od-1175x975.jpg" 
                alt="EZ Grabbit Tarp Tie Down Presentation" 
                title="Long Grabbit Presentation" 
                style=" width:100%;"> 
        
        <div style="position:absolute;
                    left:2%;
                    {{$ctrl.rs3top1}};
                    /*top:15px;*/
                   ">
            <a  href="https://www.tarptiedown.com/components/components00_03/tmpl_01/ttd-vn-lg-not-complete-msg.html"
                class="btnStyle2"
                style= "{{$ctrl.rs3padding1}};
                        /*padding:5px 10px;*/
                        text-decoration:none;
                        font-weight:bold;
                       "
               > Go To Long Grabbit Pages
                
            </a>
            <div class="btnStyle2" 
                 ng-click="$ctrl.moreless2()"
                 style="{{$ctrl.rs3padding1}};
                        /*padding:5px 10px;*/
                        {{$ctrl.rs3marginleft1}};
                        /*margin-left:5px;*/
                        font-weight:bold;
                       ">
                     {{$ctrl.morelessText2}}
            </div>
            <div class="textBoxStyle2 textStyle3"
                 ng-show="$ctrl.display2">
                 
                <table  style= "width:100%;">
                    <tr><td><u>SELECTION</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><u>DESTINATION</u>
                            <span   class= "youAreHere2">
                                &nbsp;&nbsp;you are here&nbsp;&nbsp;
                            </span>
                        </td>
                    </tr>
                    <tr class="topMenuNav">  <td class="tdStyle">TTD Intro          </td><td class="tdStyle">Tarp Tie Down Home & intro </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Price/Buy          </td><td class="tdStyle">Product pricing and store  </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Products           </td><td class="tdStyle">Tarp Tie Down products     </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Reviews            </td><td class="tdStyle">Customer feedback          </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 1  </td><td class="tdStyle">Standard EZ Grabbit        </td></tr>
                    <tr class="youAreHere">  <td class="tdStyle">Button A  Thumb 2  </td><td class="tdStyle">Long Grabbit               </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 3  </td><td class="tdStyle">Mini Grabbit               </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 4  </td><td class="tdStyle">EZ Adjust Rope Adjuster    </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 1  </td><td class="tdStyle">RockBuster Ground Stake    </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 2  </td><td class="tdStyle">Bag Grabbit Bag Handle     </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 3  </td><td class="tdStyle">The EZ Grabbit Keeper      </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 4  </td><td class="tdStyle">Carry/Duffle Bag           </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button C  Thumb 1  </td><td class="tdStyle">Tent Poles                 </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button C  Thumb 2  </td><td class="tdStyle">Classic EZ Grabbit         </td></tr>

                </table>
            </div>  
        </div>
    </div>

</div> 

