<style>

.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:red;
text-align:center; 
}

.textStyle2
{
font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;     
color:blue;
text-align:center; 
}


    
</style>


    
<div class="textStyle1" style="{{$ctrl.fontsize1}};">
    Amazing Versatility! 
</div>
<div class="textStyle2" style="{{$ctrl.fontsize2}};">
    Take a closer look and read below
</div>
    
<div style="text-align:center;">    
    <img src="http://www.tarptiedown.com/resources/ttd-vn-ezg-tarp-arc-1400x1400.jpg" 
         alt="EZ Grabbit Tarp Tie Down Official Logo" 
         title="EZ Grabbit Logo with Device" 
         style=" width:95%; border:2px solid black; border-radius:7px; margin-top:10px;"> 
</div> 

<div>
    Discussion Here
</div>

