<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">
<style>
.tableBorder, .headerBorder, .dataBorder    
{
border: 2px solid black;
border-collapse: collapse;
}

.headerBorder, .dataBorder   
{
padding:2px 0px;    
}

.quickLink
{
text-decoration:none;
color:white;
}

.quickLink:hover
{
color:black    
}

.viewStyle
{
background-color:gray; 
border:1px solid black;
border-radius:7px
}

.quickClose:hover
{
cursor:pointer;  
box-shadow:0px 0px 10px yellow;
}

.buyprice01 {color:blue;}
.buyprice02 {font-size:.75em; line-height:75%;}
.buyprice03 {color:red;}

</style>

<div class="viewStyle" id="pageTop1" style="font-size:1.0em;">

    <div class="textStyle4"
         id="pageTop2"
         ng-focus="$ctrl.blurFocus()"
         style="text-align:center; 
                margin:5px 0px;
                {{$ctrl.fontsize4}};
                "><b>PRICE AND SHOP</b>
    </div>

    <div data-ui-view="childView1" 
     style="text-align:center; 
            margin:2vh auto;
           ">This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working
    </div> 

    <div style="text-align:center;">
        <a  href="https://www.tarptiedown.com/TTD-Store-2018/" 
            class="btnStyle2"
            style= "display:inline-block;
                    text-decoration:none;
                    padding:2px 10px;
                    {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                    {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                    {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                    {{$ctrl.fontsize5}};
                   ">
            <b>Go directly to TTD Store</b>
        </a>
    </div>
    
    <div style="text-align:center;">
        <button class="btnStyle2" 
                ng-click="quickPriceTable = !quickPriceTable"
                style= "display:inline-block;
                        text-decoration:none;
                        padding:2px 10px;
                        {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                        {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                        {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                        {{$ctrl.fontsize5}};
                       ">
            <b>Quick Price</b>
        </button>
    </div> 
    <div ng-show="quickPriceTable" 
         class="textStyle4" 
         style="margin:1% auto; 
                background-color:black; 
                color:white; padding:5px; 
                border-radius:5px; 
                {{$ctrl.fontsize3}}; 
                {{$ctrl.width1}};
               ">
        <table class="tableBorder" style="width:100%;">
            <tr>
                <th class="headerBorder topMenuNav"     
                    colspan="2" 
                    title="{{$ctrl.title3}}">
                        Quick Price 
                        <span style="float:right;">&nbsp;</span>
                        <span class="quickClose" 
                              ng-click="quickPriceTable = !quickPriceTable" 
                              style="float:right;">
                        &#10062;
                        </span>
                </th>
            </tr>
            <tr>
                <th class="headerBorder topMenuNav" 
                    colspan="2"
                    title="{{$ctrl.title1}}" 
                    style="width:50%;">
                    Per device pricing as pack size increases<br>
                    <span style="color:#aaaa00;">Scroll down or select here for details</span>
                </th>
            </tr>
            <tr ng-repeat="quicklist in $ctrl.quickLIST">
                <td class="dataBorder hyperMenuNav" style="border-right:none;"> 
                    <a  class="quickLink" 
                        title="{{$ctrl.title4}}" 
                        href="{{quicklist.localview}}" 
                        ng-bind-html="quicklist.product">
                    </a>
                </td>
                <td class="dataBorder hyperMenuNav" style="border-left:none;">
                    <a  class="quickLink" 
                        title="{{$ctrl.title2}}" 
                        href="{{quicklist.localview}}" 
                        ng-bind-html="quicklist.price">
                    </a>
                </td>
            </tr>    
        </table>
    </div>

    <table style="  border:1px solid black; 
                    {{$ctrl.fontsize1}};         /* AR_1.00_0.65 */
                 ">
<!-- EZ Grabbit Yellow ************************************************************************************************************************************************-->
        <tr id="EZGY">
            <td style="position:relative; border:1px solid black; background-color:white; width:40%; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-ezg-yellow-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           "> 
                                <b>STANDARD EZ GRABBIT</b><br>
                    <span style="font-size:0.90em; color:blue;"><b>(mountable)</b></span><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b></span><br>
                    4pk for $10.88 ($2.72/device)<br><b><u>thru</u></b><br>
                    48pk for $92.64 ($1.93/device)<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>
                    $1.93 per device</u></b><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=8_10_14" 
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop EZ Grabbit<br> Mountable Yellow
                    </a>
               </div>
            </td>
        </tr>
<!-- EZ Grabbit Black ************************************************************************************************************************************************-->
        <tr id="EZGBL">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-ezg-black-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           ">  
                                <b>STANDARD EZ GRABBIT</b><br>
                    <span style="font-size:0.90em; color:blue;"><b>(mountable)</b></span><br>
                    <span style="font-size:1.00em;"><b>GLOSS&nbsp; BLACK</b><br>
                    4pk for $10.88 ($2.72/device)<br><b><u>thru</u></b><br>
                    48pk for $92.64 ($1.93/device)<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>
                    $1.93 per device</u></b><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=8_10_11"
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop EZ Grabbit<br> Mountable Black
                    </a>
                            
               </div>
            </td>
        </tr>
<!-- EZ Grabbit Green ************************************************************************************************************************************************-->
        <tr id="EZGG">
            <td style="border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-ezg-green-device-dbns-750x350.jpg" alt="ezg hivis image" style="width:100%">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           ">
                            <br><br><b>CLASSIC EZ GRABBIT</b><br> 
                    <span style="font-size:0.9em; color:blue;"><b>(non-mountable)</b></span><br>
                    <span style="font-size:1.00em;"><b>&nbsp;&nbsp;HIGH VIS GREEN&nbsp;</b></span><br>
                    24pk for $28.08 ($1.17/device)<br>
                    48pk for $48.96 ($1.02/device)<br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=8_10_15" 
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop EZ Grabbit<br> Non Mountable Green
                    </a><br><br>
               </div>
            </td>
        </tr>
<!-- Long Grabbit ************************************************************************************************************************************************-->
        <tr id="LG">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-lg-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           ">
                                <b>LONG GRABBIT</b><br>
                    <span style="font-size:1.00em;"><b>OLIVE&nbsp; DRAB</b><br></span>
                    2pk for $12.52 ($6.26/device)<br>
                    <b><u>thru</u></b><br>
                    12pk for $49.44 ($4.12/device)<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue;">(in 2pk increments)</span><br>
                    <b><u>12 or more for<br>$4.12 per device</u></b><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=8_13"  
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop Long Grabbit
                    </a>
               </div>
            </td>
        </tr>
<!-- Mini Grabbit ************************************************************************************************************************************************-->
        <tr id="MG">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-mg-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           ">
                            <br><b>MINI GRABBIT</b><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b><br></span>
                    4pk for $8.08 ($2.02/device)<br>
                    <b><u>thru</u></b><br>
                    48pk for $66.72 ($1.39/device)<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue;">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>$1.39 per device</u></b><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=8_12"  
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop Mini Grabbit
                    </a><br>
               </div>
            </td>
        </tr>
<!-- EZ Adjust ************************************************************************************************************************************************-->
        <tr id="EZA">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-eza-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
           <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           ">
                            <br><b>EZ ADJUST</b><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b><br></span>
                    4pk for $2.92 ($0.73/device)<br>
                    <b><u>thru</u></b><br>
                    48pk for $16.32 ($0.34/device)<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue;">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>$0.34 per device</u></b><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=17" 
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop EZ Adjust
                    </a><br>
               </div>
            </td>
        </tr>
<!-- RockBuster ************************************************************************************************************************************************-->
        <tr id="RB">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-rb-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            background-color:gray;
                            color:#ffffff;
                           ">
                    <br><br><br><b>ROCKBUSTER</b><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b><br></span>
                    $1.75 each<br>
                    <span style="font-size:1.13em; line-height:140%; font-weight:bold; color:blue;">Any Quantity!</span><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=18" 
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop RockBuster
                    </a><br><br><br>
               </div>
            </td>
        </tr>
<!-- Bag Grabbit ************************************************************************************************************************************************-->
        <tr id="BG">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-bg-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           ">
                            <br><br><b>BAG GRABBIT</b><br>
                    <span style="font-size:1.00em;"><b>GOLDEN&nbsp; YELLOW</b></span><br>
                    <span style="font-size:1.00em;"><b>BLACK&nbsp; HANDLE</b></span><br>
                    $4.26 each<br>
                    <span style="font-size:1.13em; line-height:140%; font-weight:bold; color:blue;">Any Quantity!</span><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=19" 
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop Bag Grabbit
                    </a><br><br>
               </div>
            </td>
        </tr>
<!-- Keeper ************************************************************************************************************************************************-->
        <tr id="KPR">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-kpr-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
           <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           "> 
                            <br><br>    <b>The KEEPER</b><br>
                    <span style="font-size:1.00em;"><b>BLACK&nbsp; TABS</b></span><br>
                    <span style="font-size:1.00em;"><b>1/8"&nbsp; SHOCK&nbsp; CORD</b></span><br>
                    $2.95 each<br>
                    4pk for $9.96 ($2.44/device)<br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=8_10_16"
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop Keeper
                    </a><br><br>
               </div>
            </td>
        </tr>
<!-- Carry Bag ************************************************************************************************************************************************-->
        <tr id="CB">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-cb-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           "> 
                            <br><br><br><b>CARRY BAG</b><br>
                    <span style="font-size:1.00em;"><b>HEAVY&nbsp; DUTY</b></span><br>
                    <span style="font-size:1.00em;"><b>W&nbsp; SIDE&nbsp; POUCH</b></span><br>
                    $7.95 each<br>
                    <span style="font-size:1.13em; line-height:140%; font-weight:bold; color:blue;">Any Quantity!</span><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=20"
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop Carry Bag
                    </a><br><br><br>
               </div>
            </td>
        </tr>
<!-- Tent Poles ************************************************************************************************************************************************-->
        <tr id="TP">
            <td style=" border:1px solid black; background-color:white; position:relative;">
                <img src="https://tarptiedown.com/resources/common-templates/top_menu/buy_price/ttd-vn-tp-device-750x350.jpg" alt="ezg image" style="width:100%;">
                <button class="btnStyle2" title="Go to menu atop" ng-click="$ctrl.toTop()" style="position:absolute; {{$ctrl.top1}}; left:2%; padding:1px 0px 1px 2px;">&#9650;&nbsp;</button>
            </td>
            <td class="textBoxStyle3" style="padding:0.35%;">
                <div class="textStyle4" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;
                            background-color:gray;
                            color:#ffffff;
                           ">
                            <br><br><b>TENT POLES</b><br>
                    <span style="font-size:1.00em;"><b>GENERAL&nbsp; PURPOSE</b></span><br>
                    $7.95 per 12 pack<br>
                    <span style="font-size:1.00em;"><b>24'&nbsp; Elastic&nbsp; Cord</b></span><br>
                    $2.25<br>
                    <span style="font-size:1.13em; line-height:140%; font-weight:bold; color:blue;">Any Quantity!</span><br>
                    <a  href="https://www.tarptiedown.com/TTD-Store-2018/index.php?rt=product/category&path=21"  
                        class="btnStyle2"
                        title="{{$ctrl.title2}}"
                        style= "display:inline-block;
                                text-decoration:none;
                                {{$ctrl.padding1}};         /* AR_10.00_2.00 */
                                {{$ctrl.borderwidth1}};     /* AR_2.00_1.05 */ 
                                {{$ctrl.margin1}};          /* AR_2.00_1.05 */
                                {{$ctrl.fontweight1}};      /* AR_100.01_900.00 */
                               ">
                        Shop Tent Poles
                    </a><br><br>
               </div>
            </td>
        </tr>
    </table>
<div>
<script>

</script>        
