<style>
.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:red;
text-align:center; 
}

.fontFam
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;     
}

</style>

<div style="text-align:center;">    
 
<!-- Response Section 1 ************************************************************************************************************************************************-->
    <table style="width:100%">
        <tr>
            <td style="{{$ctrl.rs1width1}}; vertical-align:top;">
                <img    src="components/components00_03/tmpl_02/ttd-vn-mg-logo-720x309.png"
                        alt="Mini Grabbit Logo"
                        title="Mini Grabbit Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
                
                <div    id="div1" 
                        style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                               {{$ctrl.rs1fontsize1}}; 
                               /*font-size:3em;*/
                               color:red; 
                               /*text-indent:5%; */
                               text-shadow:1px 1px 1px black;">
                    MINI SIZE MIGHTY HOLD!
                </div>
            </td>
            <td style="{{$ctrl.rs1width2}};">
                <img    src="components/components00_03/tmpl_02/ttd-vn-mg-device-1165x785.jpg" 
                        alt="Mini Grabbit Device." 
                        title="Mini Grabbit Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- Response Section 2 ************************************************************************************************************************************************-->
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}};  
                display:inline-block;
                margin-top:7px;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        IDEAL FOR LIGHTWEIGHT TARP SHELTER
    </div>

<!-- Response Section 3 ************************************************************************************************************************************************-->
    <div id="div3" style="  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                padding:10px 5px 0px 0px; 
                {{$ctrl.rs3fontsize3}}; 
                
             "> 
        The Mini Grabbit is great for creating tent holds, lightweight tarp shelters, and More!
    </div>

<!-- Response Section 4 ************************************************************************************************************************************************-->
    <div style="position:relative;">
        
        <div style="position:absolute; 
                    {{$ctrl.rs4positiontop}};   /* AR_75px_20px */
                    /*top:20px; */
                    left:2%; 
                    z-index:2
                    ">
            <a href="https://www.tarptiedown.com"> 
                <img src="https://tarptiedown.com/resources/ttd-vn-button3-300x120.png"
                     alt="button" 
                     title="EZ Grabbit applications, specs, prices, videos, etc."
                     style="{{$ctrl.rs4width1}};     /* AR_150_70 */
                            ">  
            </a>
               
        </div>
        
        <img    src="components/components00_03/tmpl_02/ttd-vn-mg-arc-1200x935-featherd-top.jpg" 
                alt="EZ Grabbit Tarp Tie Down Presentation" 
                title="Long Grabbit Presentation" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
    </div>

</div> 

