<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

<div style="font-size:1em;">    
 
<!-- Response Section 1 ************************************************************************************************************************************************-->
    <table style="width:100%">
        <tr>
            <td style="{{$ctrl.rs1width1}}; vertical-align:top;">
                <img    src="components/components00_03/tmpl_02/ttd-vn-mg-logo-720x309.png"
                        alt="Mini Grabbit Logo"
                        title="Mini Grabbit Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
                
                <div    class= "textStyle2"
                        style= "text-align:center;
                                color:red;
                                text-shadow:1px 1px 1px black;
                                {{$ctrl.rs1fontsize1}}; 
                               "><br>
                    MINI SIZE MIGHTY HOLD!
                </div>
            </td>
            <td style="{{$ctrl.rs1width2}};">
                <img    src="components/components00_03/tmpl_02/ttd-vn-mg-device-1165x785.jpg" 
                        alt="Mini Grabbit Device." 
                        title="Mini Grabbit Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- Response Section 2 ************************************************************************************************************************************************-->
    <div style="text-align:center;">
        <div class="textStyle2"
             style="display:inline-block;
                    margin-top:7px;
                    color:black;
                    background-color:yellow;
                    padding:5px 8px;
                    border:2px solid black;
                    border-radius:5px;
                    {{$ctrl.rs2fontsize2}}; 
                   ">
            IDEAL FOR LIGHTWEIGHT TARP SHELTER
        </div>
    </div>

<!-- Response Section 3 ************************************************************************************************************************************************-->
    <div class="textStyle4" 
         style="text-align:center;
                {{$ctrl.rs3padding1}};
                {{$ctrl.rs3fontsize3}}; 
               "> 
        The Mini Grabbit is great for creating tent holds, lightweight tarp shelters, and More!
    </div>

<!-- Response Section 4 ************************************************************************************************************************************************-->
    <div style="position:relative;">
        
        <img    src="components/components00_03/tmpl_02/ttd-vn-mg-arc-1200x935-featherd-top.jpg" 
                alt="Mini Grabbit Tarp Tie Down Presentation" 
                title="Mini Grabbit Presentation" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
        
        <div style="margin-top:1.0vh; position:absolute; top:0px; left:2%; width:100%;">  
            <div data-ui-view="childView1" 
                 title="This Read About has a link to Mini Grabbit pages"
                 style="margin:1vh auto;">
                        This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working
            </div>
        </div>
    </div>
</div> 

