<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

<div style="text-align:center;">    
 
<!-- Response Section 1 ************************************************************************************************************************************************-->
    <table style="width:100%">
        <tr>
            <td style="{{$ctrl.rs1width1}}; vertical-align:top;">
                <img    src="components/components00_03/tmpl_02/ttd-vn-mg-logo-720x309.png"
                        alt="Mini Grabbit Logo"
                        title="Mini Grabbit Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
                
                <div    id="div1" 
                        style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                               {{$ctrl.rs1fontsize1}}; 
                               /*font-size:3em;*/
                               color:red; 
                               /*text-indent:5%; */
                               text-shadow:1px 1px 1px black;">
                    MINI SIZE MIGHTY HOLD!
                </div>
            </td>
            <td style="{{$ctrl.rs1width2}};">
                <img    src="components/components00_03/tmpl_02/ttd-vn-mg-device-1165x785.jpg" 
                        alt="Mini Grabbit Device." 
                        title="Mini Grabbit Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- Response Section 2 ************************************************************************************************************************************************-->
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}};  
                display:inline-block;
                margin-top:7px;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        IDEAL FOR LIGHTWEIGHT TARP SHELTER
    </div>

<!-- Response Section 3 ************************************************************************************************************************************************-->
    <div id="div3" style="  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
                padding:10px 5px 0px 0px; 
                {{$ctrl.rs3fontsize3}}; 
                
             "> 
        The Mini Grabbit is great for creating tent holds, lightweight tarp shelters, and More!
    </div>

<!-- Response Section 4 ************************************************************************************************************************************************-->
    <div style="position:relative;
                {{$ctrl.rs4fontsize1}};
               ">
        
        <img    src="components/components00_03/tmpl_02/ttd-vn-mg-arc-1200x935-featherd-top.jpg" 
                alt="EZ Grabbit Tarp Tie Down Presentation" 
                title="Mini Grabbit Presentation" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
        
        <div style="position:absolute;
                    left:2%;
                    {{$ctrl.rs4top1}};
                    /*top:15px;*/
                   ">
            <a  href="https://www.tarptiedown.com/components/components00_03/tmpl_02/ttd-vn-mg-not-complete-msg.html"
                class="btnStyle2"
                style= "{{$ctrl.rs4padding1}};
                        /*padding:5px 10px;*/
                        text-decoration:none;
                        font-weight:bold;
                       "
               > Go To Mini Grabbit Pages
                
            </a>
            <div class="btnStyle2" 
                 ng-click="$ctrl.moreless2()"
                 style="{{$ctrl.rs4padding1}};
                        /*padding:5px 10px;*/
                        {{$ctrl.rs4marginleft1}};
                        /*margin-left:5px;*/
                        font-weight:bold;
                       ">
                     {{$ctrl.morelessText2}}
            </div>
            <div class="textBoxStyle2 textStyle3"
                 ng-show="$ctrl.display2">
                 
                <table  style= "width:100%;">
                    <tr><td><u>SELECTION</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><u>DESTINATION</u>
                            <span   class= "youAreHere2">
                                &nbsp;&nbsp;you are here&nbsp;&nbsp;
                            </span>
                        </td>
                    </tr>
                    <tr class="topMenuNav">  <td class="tdStyle">TTD Intro          </td><td class="tdStyle">Tarp Tie Down Home & intro </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Price/Buy          </td><td class="tdStyle">Product pricing and store  </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Products           </td><td class="tdStyle">Tarp Tie Down products     </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Reviews            </td><td class="tdStyle">Customer feedback          </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 1  </td><td class="tdStyle">Standard EZ Grabbit        </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 2  </td><td class="tdStyle">Long Grabbit               </td></tr>
                    <tr class="youAreHere">  <td class="tdStyle">Button A  Thumb 3  </td><td class="tdStyle">Mini Grabbit               </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 4  </td><td class="tdStyle">EZ Adjust Rope Adjuster    </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 1  </td><td class="tdStyle">RockBuster Ground Stake    </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 2  </td><td class="tdStyle">Bag Grabbit Bag Handle     </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 3  </td><td class="tdStyle">The EZ Grabbit Keeper      </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 4  </td><td class="tdStyle">Carry/Duffle Bag           </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button C  Thumb 1  </td><td class="tdStyle">Tent Poles                 </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button C  Thumb 2  </td><td class="tdStyle">Classic EZ Grabbit         </td></tr>

                </table>
            </div>  
        </div>
        
        
    </div>

</div> 

