<!DOCTYPE html>
<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="width:100%; text-align:center">We are a verified merchant of Authorize.net! Click this seal to confirm<br>
        <script type="text/javascript">var ANS_customer_id="34f3366f-7153-40d1-b98d-57bbd3613155";</script>    
        <script type="text/javascript" src="//verify.authorize.net/anetseal/seal.js"></script>
    </div><br>
    <div id="siteseal" style="width:100%; text-align:center;">
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=fgeYlpd4EBYN9d6XFRXbdB8laNFmEgnjUYQpRVmkPwXpRarhdlwN349IuH41"></script>
    </div><br>
    
    <div id="trustwaveSeal" style="width:100%; padding-top:12px; text-align:center;">
        <script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?code=6ee8e6c740d6477aba73eed9a57b6cd3"></script>
    </div>    
</body>
</html>
