<!-- Company Info and Policy Section -->

<style>
    
div
{
color:green;
}    
    
</style>
    <div class="" style="margin:10px 0px;">
        <table style="width:100%;">
            <tr style="width:100%;">
                
                <!--<td>A column</td>-->
                <td style="width:16%;"></td>
                <td style="width:17%; text-align:center;">
                   <a href="http://www.tarptiedown.com/ttd-website/ttd-website-policy-page/ttd-website-home-page-privacy-policy.htm" target="_blank" 
                   style="font-size:20px; text-decoration:none; ">Privacy Policy</a>
                </td>
                <td style="width:17%; text-align:center;">
                   <a href="http://www.tarptiedown.com/ttd-website/ttd-website-policy-page/ttd-website-contact-info.htm" target="_blank"  
                   style="text-align:center; font-size:20px; text-decoration:none;">Contact US</a>
                </td>
                <td style="width:17%; text-align:center;">
                   <a href="http://www.tarptiedown.com/ttd-website/ttd-website-policy-page/ttd-website-home-page-return-policy.htm" target="_blank" 
                   style="text-align:center; font-size:20px; text-decoration:none;">Return Policy</a>
                </td>
                <td style="width:17%; text-align:center;">
                   <a href="http://www.tarptiedown.com/ttd-website/ttd-website-policy-page/ttd-website-home-page-ship-policy.htm" target="_blank" 
                   style="text-align:center; font-size:20px; text-decoration:none;">Shipping Policy</a>
                </td>
                <td style="width:16%"></td>
            </tr>    
        </table>    
    </div>

    <div class="" style="margin:10px 0px; height:135px; padding:5px 5px;">
        <table style="width:100%; background-color:lightgray; border-radius:7px;">
            <tr style="width:100%;">

                        <td style="width:23%; text-align:right;">
                            <img src="http://www.tarptiedown.com/TTD-Store/storefront/view/default/image/payment_VISA_MC_0.75W.png" alt="VISA and MasterCard icons">
                        </td>

                        <td style="width:23%; text-align:center;">
                            <span style="float:right; margin-top:6px; margin-right:10px; text-align:center;">Copyright © 2017<br>Tarp Tie Down Company LLC.<br>All rights reserved.</span>
                        </td>

                        <td style="width:18%; text-align:center;">
                            <!-- 
                            <span class="AuthorizeNetSeal" style="float:right; padding:0px 15px;">Authorize.net here
                                <script type="text/javascript" language="javascript">var ANS_customer_id="34f3366f-7153-40d1-b98d-57bbd3613155";</script>
                                <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
                            </span>
                            -->
                            <a href="components/top_menu/policy_tmpl/authorizeNet.html"><img src="resources/images/AuthorizeNet.jpg" alt="Authorize.net seal"></a>
                        </td>

                        <td id="siteseal" style="width:18%; padding-top:23px; text-align:center;">
                            <!--<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ugbvCfl2gBet7beHFaBArgQhyX24N88uKpdi7htFa46LZOBmMjpXqIjk8va2"></script>-->
                            <a href="components/top_menu/policy_tmpl/merchant_seals.html"><img src="resources/images/godaddy.png" alt="goDaddy seal"></a>
                        </td>

                        <td id="trustwaveSeal" style="width:18%; padding-top:12px; text-align:center;">
                            <!--<script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?code=6ee8e6c740d6477aba73eed9a57b6cd3"></script>-->
                            <a href="components/top_menu/policy_tmpl/merchant_seals.html"><img src="resources/images/trustwavelogo_vertical.png" alt="trustwave seal"></a>
                        </td>    
             
            </tr>    
        </table>
    </div> 
