<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">
<link rel="stylesheet" type="text/css" href="components/components04_07/tmpl_05/viewTmpl_05.css">

<!-- AR Response Section 1 ************************************************************************************************************************************************-->
<div style="font-size:1em;">    
   
    <table style="width:100%">
        <tr>
            <td style="width:50%; vertical-align:top;">
                <img    src="components/components04_07/tmpl_05/ttd-vn-bg-logo-1725x650.jpg"
                        alt="Bag Grabbit Logo"
                        title="Bag Grabbit Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
                <div    class="textStyle2" 
                        style= "text-align:center;
                                color:black; 
                                {{$ctrl.rs1fontsize1}}; 
                               ">
                    <br>Close, carry and store<br>bulky bags with ease!
                </div>
            </td>
            <td style="width:50%">
                <img    src="components/components04_07/tmpl_05/ttd-vn-bg-presentation1-1240x890.jpg" 
                        alt="Bag Grabbit Device." 
                        title="Bag Grabbit Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>
    <div data-ui-view="childView1" 
         title="This Read About has a link to Bag Grabbit pages"
         style="text-align:center; margin:2vh auto 2vh auto;">
                This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working
    </div>

<!-- AR Response Section 2 ************************************************************************************************************************************************-->
    <div style="text-align:center;">
        <div class="textStyle2"
             style="display:inline-block;
                    margin-top:7px;
                    color:black;
                    background-color:yellow;
                    padding:5px 8px;
                    border:2px solid black;
                    border-radius:5px;
                    {{$ctrl.rs2fontsize2}};  
                    ">
            FOR ALL TYPES OF BAGS
        </div>
    </div>
    <div class="textStyle4" 
         style="text-align:center;
                {{$ctrl.rs2fontsize3}}; 
                {{$ctrl.rs2padding1}};
               "> 
        Use Bag Grabbit on bags of fertilizer, potting soil, pet food, bird seed, ice melt, and more! 
    </div>

<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <div style="position:relative;">
        
        <img    src="components/components04_07/tmpl_05/ttd-vn-bg-carrybag1-1600x1200.jpg" 
                alt="Bag Grabbit Application" 
                title="Bag Grabbit Application" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
        
        <div id="div4" 
            class="textStyle2 textShadow1" 
            style="position:absolute; 
                   left:5%; 
                   color:white;
                   text-align:left; 
                   z-index:2;
                   {{$ctrl.rs3positiontop2}}; 
                   {{$ctrl.rs3fontsize5}}; 
                  ">
            Close, carry, and store bags of:<br>Fertilizer, Potting Soil, Pet Food,<br>Bird Seed, Ice Melt, and More!
        </div>
    </div>
    
</div> 

