<style>
.textStyle1
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:white;
text-shadow:    1px 0px 1px black, 2px 0px 2px black, 3px 0px 3px black, 
                1px 1px 1px black, 2px 2px 2px black, 3px 3px 3px black,
                0px 1px 1px black, 0px 2px 2px black, 0px 3px 3px black,

                -1px 1px 1px black, -2px 2px 2px black, -3px 3px 3px black,
                -1px 0px 1px black, -2px 0px 2px black, -3px 0px 3px black,
                
                -1px -1px 1px black, -2px -2px 2px black, -3px -3px 3px black,
                 0px -1px 1px black,  0px -2px 2px black,  0px -3px 3px black,
                 1px -1px 1px black,  2px -2px 2px black,  3px -3px 3px black;
}

.fontFam
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;     
}

</style>

<!-- AR Response Section 1 ************************************************************************************************************************************************-->
<div style="text-align:center;">    
   
    <table style="width:100%">
        <tr>
            <td style="width:50%; vertical-align:top;">
                <img    src="components/components04_07/tmpl_05/ttd-vn-bg-logo-1725x650.jpg"
                        alt="EZ Adjust Logo"
                        title="EZ Adjust Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
                <div    id="div1" 
                        style="font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; 
                               {{$ctrl.rs1fontsize1}}; 
                               /*font-size:3em;*/
                               color:black; 
                               line-height:.95em;
                               /*text-indent:5%; */
                               //text-shadow:1px 1px 1px black;
                               //background-color:#EEEEEE;
                               ">
                    <br>Close, carry and store<br>bulky bags with ease!
                </div>
            </td>
            <td style="width:50%">
                <img    src="components/components04_07/tmpl_05/ttd-vn-bg-presentation1-1240x890.jpg" 
                        alt="EZ Adjust Device." 
                        title="EZ Adjust Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- AR Response Section 2 ************************************************************************************************************************************************-->
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}};  
                display:inline-block;
                margin-top:7px;
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        FOR ALL TYPES OF BAGS
    </div>
  

<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <br>
    <div style="position:relative;">
        
        <div style="position:absolute; 
                    {{$ctrl.rs3positiontop1}}; 
                    {{$ctrl.rs3positionleft1}};    /*  */
                    /*left:85%;*/
                    z-index:2;">
                    <a href="https://www.tarptiedown.com"> 
                        <img src="https:/tarptiedown.com/resources/ttd-vn-button3-300x120.png" alt="button" style="{{$ctrl.rs3width3}};">
                    </a>
        </div>
        <div id="div4" 
             class="textStyle1" 
             style="position:absolute; 
                    {{$ctrl.rs3positiontop2}}; 
                    /*top:150px;*/
                    left:5%; 
                    {{$ctrl.rs3fontsize5}}; 
                    /*font-size:1.0em;*/
                    text-align:left; 
                    z-index:2;">
            Bags of:<br>Fertilizer, Potting Soil, Pet Food,<br>Bird Seed, Ice Melt, and More!
        </div>
        
        <img    src="components/components04_07/tmpl_05/ttd-vn-bg-carrybag1-1600x1200.jpg" 
                alt="EZ Adjust Application" 
                title="EZ Adjust Application" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
    </div>

</div> 

