<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

<!-- AR Response Section 1 ************************************************************************************************************************************************-->
<div style="font-size:1em;">    
   
    <table style="width:100%">
        <tr>
            <td style="width:50%; vertical-align:top;">
                <img    src="components/components04_07/tmpl_05/ttd-vn-bg-logo-1725x650.jpg"
                        alt="EZ Adjust Logo"
                        title="EZ Adjust Logo"
                        style=" width:100%;
                                {{$ctrl.rs1margintop2}};">
                <div    class="textStyle2" 
                        style= "text-align:center;
                                color:black; 
                                {{$ctrl.rs1fontsize1}}; 
                               ">
                    <br>Close, carry and store<br>bulky bags with ease!
                </div>
            </td>
            <td style="width:50%">
                <img    src="components/components04_07/tmpl_05/ttd-vn-bg-presentation1-1240x890.jpg" 
                        alt="EZ Adjust Device." 
                        title="EZ Adjust Device" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>

<!-- AR Response Section 2 ************************************************************************************************************************************************-->
    <div style="text-align:center;">
        <div class="textStyle2"
             style="display:inline-block;
                    margin-top:7px;
                    color:black;
                    background-color:yellow;
                    padding:5px 8px;
                    border:2px solid black;
                    border-radius:5px;
                    {{$ctrl.rs2fontsize2}};  
                    ">
            FOR ALL TYPES OF BAGS
        </div>
    </div>
    <div class="textStyle4" 
         style="text-align:center;
                {{$ctrl.rs2fontsize3}}; 
                {{$ctrl.rs2padding1}};
               "> 
        Use Bag Grabbit on bags of fertilizer, potting soil, pet food, bird seed, ice melt, and more! 
    </div>

<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <div style="position:relative;
                {{$ctrl.rs3fontsize1}};
               ">
        
        <img    src="components/components04_07/tmpl_05/ttd-vn-bg-carrybag1-1600x1200.jpg" 
                alt="EZ Adjust Application" 
                title="EZ Adjust Application" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
        
        <div style="position:absolute;
                    left:2%;
                    width:100%;
                    {{$ctrl.rs3top1}};
                   ">
            <div style="text-align:left;">
                <a  href="https://www.tarptiedown.com/components/components04_07/tmpl_05/ttd-vn-bg-not-complete-msg.html"
                    class="btnStyle2"
                    style= "{{$ctrl.rs3padding1}};
                            text-decoration:none;
                            font-weight:bold;
                           "
                   > Go To Bag Grabbit Pages

                </a>
                <div class="btnStyle2" 
                     ng-click="$ctrl.moreless2()"
                     style="{{$ctrl.rs3padding1}};
                            {{$ctrl.rs3marginleft1}};
                            font-weight:bold;
                           ">
                         {{$ctrl.morelessText2}}
                </div>
                <div class="textBoxStyle2 textStyle3"
                     ng-show="$ctrl.display2"
                     style="position:absolute;
                            z-index:3;">
                    <table  style="width:100%;">
                        <tr><td><u>{{$ctrl.navMenuHeader.col1}}</u></td>
                            <td><u>{{$ctrl.navMenuHeader.col2}}</u>
                                <span class="youAreHere2">
                                    &nbsp;&nbsp;{{$ctrl.navMenuHeader.msg}}&nbsp;&nbsp;
                                </span>
                                <span class="closeText" 
                                      ng-click="$ctrl.moreless2()" 
                                      style="color:white;
                                             float:right;
                                            ">
                                            &nbsp;&nbsp;&nbsp;&#10062;
                                </span>
                            </td>
                        </tr>
                        <tr class="{{NAVMENU.rowClass}}" 
                            ng-repeat="NAVMENU in $ctrl.navMenuBody"
                            style="">  
                                <td class="tdStyle"><a ui-sref="{{NAVMENU.view}}">{{NAVMENU.selection}}</a></td>
                                <td class="tdStyle"><a ui-sref="{{NAVMENU.view}}">{{NAVMENU.destination}}</a></td>
                        </tr>
                    </table>
                </div>  
            </div>
        </div>
        <div id="div4" 
             class="textStyle2 textShadow1" 
             style="position:absolute; 
                    {{$ctrl.rs3positiontop2}}; 
                    left:5%; 
                    {{$ctrl.rs3fontsize5}}; 
                    color:white;
                    text-align:left; 
                    z-index:2;">
            Close, carry, and store bags of:<br>Fertilizer, Potting Soil, Pet Food,<br>Bird Seed, Ice Melt, and More!
        </div>
    </div>
</div> 

