<div style="padding:0px 15px 0px 15px">
    <div class="row" style="background-color:#EEEEEE; border-style:solid solid none solid; border-width:2px; padding:10px 0px 10px 0px; border-radius:10px 10px 0px 0px;"> 
        <div class="col-xs-4">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </div>
        <!--<img src="ttd-website-rb-presentation-1200x900-w-drop-shadow.png" alt="RB Presentation" class="col-xs-12" style="width:100%; border :2px solid black; background-color:white; border-radius:10px;">-->
        <div class="col-xs-4">  
            <img src="components/components12_15/tmpl_13/DSCN2049.jpg" alt="RB Presentation" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">
        </div>
        <!--<img src="DSCN2049.JPG" alt="RB Presentation" class="col-xs-4" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">-->
        <div class="col-xs-4">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </div>
    </div>
    
    <div class="row" style="background-color:#EEEEEE; border-style:none solid none solid; border-width:2px; padding:10px 0px 10px 0px;"> 
        <div class="col-xs-6">
        <!--<img src="ttd-website-rb-presentation-1200x900-w-drop-shadow.png" alt="RB Presentation" class="col-xs-12" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">-->
            <img src="components/components12_15/tmpl_13/DSCN3181.jpg" alt="RB Presentation" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">
        </div>
        <!--<img src="DSCN2049.JPG" alt="RB Presentation" class="col-xs-4" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">-->
        <div class="col-xs-6">text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text </div>
    </div>
    
    <div class="row" style="background-color:#EEEEEE; border-style:none solid solid solid; border-width:2px; padding:10px 0px 10px 0px; border-radius:0px 0px 10px 10px;"> 
        <!--<img src="DSCN4494.JPG" alt="RB Presentation" class="col-xs-4" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">-->
        <div class="col-xs-4">This is the third row - text text text text text text text text text text text text text text text text text text text text text text text
                                text text text text text text text text text text text text text text text text text text text text text text text text text text text 
                                text text text text text text text text text text text text text text text text text text 
        </div>
        <div class="col-xs-8">
        <!--<img src="ttd-website-rb-presentation-1200x900-w-drop-shadow.png" alt="RB Presentation" class="col-xs-12" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">-->
            <img src="components/components12_15/tmpl_13/DSCN4494.jpg" alt="RB Presentation" style="width:100%; border:2px solid black; background-color:white; border-radius:10px;">
        </div>
    </div>
</div>    