<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">


<div style="font-size:initial; 
            text-align:center;
            background-color:gray; 
            border:1px solid black;
            border-radius:7px;
           ">
    <div  
         style="width:100%;">
        <a  class="btnStyle2"
            href="https://www.tarptiedown.com"
            style= "{{$ctrl.rs1fontsize1}};
                    text-decoration:none;
                    font-weight:bold;
                    margin-top:2vh;
                   ">
            Return to TTD Home
        </a>

        <div style="margin-top:1.5vh;">
            <div data-ui-view="childView1">This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working</div>
        </div>

        <div style="{{$ctrl.rs1fontsize3}}; width:97%; margin:0vh auto;">
            <div class="textBoxStyle1" 
                 style="padding-top:5px;
                        margin-top:2vh;
                       ">
                <div class="textStyle4"
                     style="text-align:center; 
                            display:inline-block; 
                            font-size:1.25em; 
                            line-height:150%; 
                            padding:0px 1%;
                            margin:0.5% 0% 1% 0%;
                            background-color:yellow; 
                            border:1px solid black; 
                            border-radius:5px;">
                    <b>Your in the {{$ctrl.fill1}} region</b>
                </div>
                <div class="textStyle3" style="text-align:left;">
                    <table>
                        <tr>
                            <td style="width:2.5%; vertical-align:top;">
                               &#9679;
                            </td>
                            <td>
                                This is the {{$ctrl.fill2}} region. Select <b>"{{$ctrl.fill3}}"</b> in the top menu to start.
                            </td>
                        </tr>
                        <tr>
                            <td style="width:2.5%;  vertical-align:top;">
                               &#9679;
                            </td>
                            <td>
                                Select the LOCATION MENU button for the contents of this region.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="textBoxStyle1" 
                 style="padding-top:5px; 
                        /*text-align:left; */
                        margin-top:2vh;
                       ">
                <div class="textStyle4"
                     style="text-align:center; 
                            display:inline-block; 
                            font-size:1.25em; 
                            line-height:150%; 
                            padding:0px 1%;
                            margin:0.5% 0% 1% 0%;
                            background-color:yellow; 
                            border:1px solid black; 
                            border-radius:5px;">
                    <b>Getting around in this region</b>
                </div>
                <div class="textStyle3">
                    You're never more than two selections away from everything in this region.
                </div><br>
                <div class="textStyle3" style="line-height:175%; text-align:left;">
                    <b>Top menu:</b> General Info and product offerings<br>
                    <b>Thumbnail menu:</b> Specific product information.<br>
                    <div style="line-height:110%; padding:3px 0px;">
                        <b>Navigating the thumbnail section:</b> Start by selecting a lettered button. The corresponding thumbnail images will show. 
                        Select a thumbnail to open its contents in the main view. Browse the main view as desired.<br><br>
                        <b>The INFO ABOUT THIS button:</b> The INFO ABOUT THIS button provides info and <span style="color:blue;"><b><u>links</u></b></span>  (as needed) regarding the current subject showing.<br><br>
                    <b>The LOCATION MENU button:</b> The LOCATION MENU button often appears in any given view. Select it to find your locale and other locales.
                    </div>
                </div>
            </div>

            <div class="textBoxStyle1" 
                 style="padding-top:5px; 
                        /*text-align:left; */
                        margin-top:2vh;
                       ">  
                <div class="textStyle4"
                     style="text-align:center; 
                            display:inline-block; 
                            font-size:1.25em; 
                            line-height:150%; 
                            padding:0px 1%;
                            margin:0.5% 0% 1% 0%;
                            background-color:yellow; 
                            border:1px solid black; 
                            border-radius:5px;">
                    <b>History Section</b>
                </div><br>
                <div class="textStyle3" style="text-align:left;">
                    <b>Clear button:</b> The "Clear" button clears your thumbnail history. Otherwise select a thumbnail history button to go back to a place you were before.
                    When navigating, for example: selecting button B and selecting the third thumbnail will create thumbnail history button B-3.
                </div>
            </div>
        </div>
    </div>
    <br>
</div>