<style>
</style>

<div style="position:relative;">
    <img src="resources/images/Open_Space_ViewTemplate_C.jpg" alt="Open Space Template" style="width:100%;">
    <ul style="position:absolute; top:20px;">
        <li>Key words for you tube videos</li>
        <li style="color:blue;">Tarp Shelter</li>
        <li style="color:blue;">Tarp Clips</li>
        <li style="color:blue;">Tent Tarp Setup</li>
        <li style="color:blue;">Tarp Tent</li>
        <li style="color:blue;">Tarp Clamp</li>
    </ul>    
    
</div>    
