<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="width:100%; text-align:center;">
            <span style=font-size:20px;><b>Pricing and Ordering:</b></span><br>
            <br> 
            Our best sellers are our bulk buy EZ Grabbits.<br> 
            <br> 
            Pricing for classic EZ Grabbits (non mountable) are a great deal.<br> 
            <br> 
            New model EZ Grabbits (mountable) are also a great deal.  
            You can buy from 4 to 48 and save as you buy more.<br> 
            <br> 
            <b>Pricing:</b><br>Click and mouse over the item  
            list and see the great deals you get.<br><br> 
            <b>Ordering:</b><br> 
            Click the item button to order from our store.;
        </div>
    </body>
</html>
