<style>

.style1
{
border:2px solid black;    
background:linear-gradient(#CCEDF2, #EAE2BB);              // Standard
background:-webkit-linear-gradient(#CCEDF2, #EAE2BB);      // Safari
background:-o-linear-gradient(#CCEDF2, #EAE2BB);           // Opera
background:-moz-linear-gradient(#CCEDF2, #EAE2BB);         // FireFox
}

.style2
{
font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
}

.style3
{
font-family: Futura, "Trebuchet MS", arial, sans-serif;    
}

tr:hover
{
cursor:pointer;    
}

</style>


    <div style="width:100%; 
                text-align:center; 
                {{$ctrl.fontsize2}};
                /*font-size:1.0em;*/
                ">
        <div class="style3"
             style="font-size:3.0em;
                    margin:5px 0px;
                    "><b>PRICING AND ORDERING</b>
        </div>
        
        <div style="font-size:2.0em">Select the TTD store button</div>
        <button onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php', '_blank')" 
                type="button" 
                style=" margin:10px 0px;
                        font-size:2.0em;
                        color:blue;
                        border:1px solid black;
                        border-radius:5px;
                ">TTD Store
        </button>
        <div style="font-size:2.00em">OR</div>
       
        <div style="margin:5px 0px;
                    padding:10px 5px 10px 5px;
                    font-size:2.0em;
                    color:blue;
                    background-color:yellow;
                    border:1px solid black;
                    border-radius:5px;
                    ">Select any item below to go directly<br>to that store item for the price details.</div> 
        <br>
        
        
    </div>

    <table style="  border:1px solid black; 
                    {{$ctrl.fontsize1}};         /* AR_1.00_0.65 */
                    /*font-size:0.65em;*/
                 ">
<!-- EZ Grabbit Yellow ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_2_8&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" {{$ctrl.width1}};        /* AR_40.00_50.00 */
                        width:50%;        
                        border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-yellow-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;"> 
                                <b>STANDARD EZ GRABBIT</b><br>
                    <span style="font-size:0.90em; color:blue;"><b>(mountable)</b></span><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b><br>
                    </span>4pk for $10.88 <b><u>thru</u></b><br>
                    48pk for $92.64<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>
                    $1.93 per device</u></b>;
               </div>
            </td>
        </tr>
<!-- EZ Grabbit Black ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_2_16&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-black-device-dbns-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;"> 
                                <b>STANDARD EZ GRABBIT</b><br>
                    <span style="font-size:0.90em; color:blue;"><b>(mountable)</b></span><br>
                    <span style="font-size:1.00em;"><b>GLOSS&nbsp; BLACK</b><br>
                    </span>4pk for $10.88 <b><u>thru</u></b><br>
                    48pk for $92.64<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>
                    $1.93 per device</u></b>;
               </div>
            </td>
        </tr>
<!-- EZ Grabbit Green ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_2_7&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style="border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-ezg-green-device-dbns-750x350.jpg" alt="ezg hivis image" style="width:100%">
            </td>
            <td class="style1">
                <div class="" 
                    style="text-align:center;
                           width:100%;
                           font-size:1.13em;"> 
                               <b>CLASSIC EZ GRABBIT</b><br> 
                    <span style="font-size:0.9em; color:blue;"><b>(non-mountable)</b></span><br>
                    <span style="font-size:1.00em;"><b>&nbsp;&nbsp;HIGH VIS GREEN&nbsp;</b><br>
                    </span>24pk for $28.08<br>
                    48pk for $48.96;
               </div>
            </td>
        </tr>
<!-- Long Grabbit ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_15&session_id=6j7rvh11bja994asmiaq72uj26','_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-lg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;"> 
                                <b>LONG LONG GRABBIT</b><br>
                    <span style="font-size:1.00em;"><b>OLIVE&nbsp; DRAB</b><br></span>
                    4pk for $8.08 <b><u>thru</u></b><br>
                    48pk for $66.72<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue;">(in 4pk increments)</span><br>
                    <b><u>More than 12 for<br>$4.12 per device</u></b>
               </div>
            </td>
        </tr>
<!-- Mini Grabbit ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_3&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-mg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;"> 
                                <b>MINI GRABBIT</b><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b><br></span>
                    4pk for $8.08 <b><u>thru</u></b><br>
                    48pk for $66.72<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue;">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>$1.39 per device</u></b>
               </div>
            </td>
        </tr>
<!-- EZ Adjust ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=10&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-eza-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;
                            padding:3px 0px;"> 
                                <b>EZ ADJUST</b><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b><br></span>
                    4pk for $2.92 <b><u>thru</u></b><br>
                    48pk for $16.32<br>
                    <span style="font-size:0.90em; line-height:140%; font-weight:bold; color:blue;">(in 4pk increments)</span><br>
                    <b><u>More than 48 for<br>$0.34 per device</u></b>
               </div>
            </td>
        </tr>
<!-- RockBuster ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=9&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-rb-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>ROCKBUSTER</b><br>
                    <span style="font-size:1.00em;"><b>CANARY&nbsp; YELLOW</b><br></span>
                    $1.75 each<br>
                    <span style="font-size:1.13em; line-height:140%; font-weight:bold; color:blue;">Any Quantity!</span><br>
               </div>
            </td>
        </tr>
<!-- Bag Grabbit ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=11&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-bg-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>BAG GRABBIT</b><br>
                    <span style="font-size:1.00em;"><b>GOLDEN&nbsp; YELLOW</b></span><br>
                    <span style="font-size:1.00em;"><b>BLACK&nbsp; HANDLE</b></span><br>
                    $4.26 each<br>
                    <span style="font-size:1.13em; line-height:140%; font-weight:bold; color:blue;">Any Quantity!</span><br>
               </div>
            </td>
        </tr>
<!-- Keeper ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_2_12&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-kpr-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>The KEEPER</b><br>
                    <span style="font-size:1.00em;"><b>BLACK&nbsp; TABS</b></span><br>
                    <span style="font-size:1.00em;"><b>1/8"&nbsp; SHOCK&nbsp; CORD</b></span><br>
                    $2.95 each<br>
                    $9.96 4-pack
               </div>
            </td>
        </tr>
<!-- Carry Bag ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_2_8&session_id=6j7rvh11bja994asmiaq72uj26','_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-cb-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>CARRY BAG</b><br>
                    <span style="font-size:1.00em;"><b>HEAVY&nbsp; DUTY</b></span><br>
                    <span style="font-size:1.00em;"><b>W&nbsp; SIDE&nbsp; POUCH</b></span><br>
                    $7.95 each
               </div>
            </td>
        </tr>
<!-- Tent Poles ************************************************************************************************************************************************-->
        <tr onclick="window.open('https://www.tarptiedown.com/TTD-Store/index.php?rt=product/category&path=1_2_8&session_id=6j7rvh11bja994asmiaq72uj26', '_blank')">
            <td style=" border:1px solid black;">
                <img src="components/top_menu/buy_price/ttd-vn-tp-device-750x350.jpg" alt="ezg image" style="width:100%;">
            </td>
            <td class="style1">
                <div class="" 
                     style="text-align:center;
                            width:100%;
                            font-size:1.13em;"> 
                                <b>TENT POLES</b><br>
                    <span style="font-size:1.00em;"><b>GENERAL&nbsp; PURPOSE</b></span><br>
                    $7.95 per 12 pack<br>
                    <span style="font-size:1.00em;"><b>24'&nbsp; Elastic&nbsp; Cord</b></span><br>
                    $2.25
               </div>
            </td>
        </tr>
    </table>
<script>

</script>        
