<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

<div>
<!-- Response Section 1 ************************************************************************************************************************************************-->
    <div style="font-size:1em;">
        <img src="components/components08_11/tmpl_09/ttd-vn-ezg-logo-w-grn-device-1500x400.png" 
                         alt="EZ Grabbit Tarp Tie Down Official Logo" 
                         title="EZ Grabbit Logo with Tarp Tie Down Device" 
                         style=" width:90%;">
        <div style="text-align:center;">
            <div class="textStyle5"
                 style="display:inline-block;
                        font-weight:bold;
                        padding:0px 10px;
                        background-color:yellow;
                        border:2px solid black;
                        border-radius:5px;
                        letter-spacing:5px;
                        color:blue;
                        {{$ctrl.rs1fontsize1}};         /* AR_3.00_1.09 */
                        {{$ctrl.rs1margintop1}};           /* AR_15.01_5.00 */
                        {{$ctrl.rs1marginbottom1}};
                       ">
                        CLASSIC
            </div>
        </div>
    </div> 
    <div class="textStyle1" 
         style="{{$ctrl.rs1fontsize1}};             /* AR_3.00_1.09 */
                text-align:center;
               ">
                Superior Performance and Versatility
    </div>
    
<!-- Response Section 2 ************************************************************************************************************************************************-->
    <table  style=" width:100%; 
                    border-spacing:0px; 
                    {{$ctrl.rs2margintop1}};                /* AR_25_0 */
                    {{$ctrl.rs2marginbottom1}};             /* AR_30_0 */
                    ">
        <tr>
            <td>
                <div style="text-align:center;">
                    <div class="textStyle3"
                         style="display:inline-block;
                                color:blue;
                                width:85%;
                                text-align:left;
                                {{$ctrl.rs2fontsize2}};
                               ">
                    The <span   class="textStyle5" 
                                style= "font-weight:bold; 
                                        background-color:yellow; 
                                        border:1px solid black; 
                                        border-radius:3px; 
                                        padding:0px 3px;
                                       ">
                                        CLASSIC
                        </span> 
                    &nbsp;EZ Grabbit does everything the standard EZ Grabbit does but without the mount features.
                </div>

            </td>
            <td>
                <div class="textStyle3" 
                     style="display:inline-block;
                            width:85%;
                            background-color:yellow; 
                            border:2px solid black; 
                            border-radius:5px; 
                            padding:10px 10px; 
                            margin-top:10px;
                            {{$ctrl.rs2fontsize3}};
                           ">
                    WRAP THE TARP AROUND THE DOG BONE AND SLIDE THE SLEEVE INTO PLACE.<br> <span style="font-size:1.25em; text-align:center;"><b>IT'S THAT EASY!</b></span>

                </div>
            </td>
        </tr>
    </table>

<!-- Response Section 3 ************************************************************************************************************************************************-->
    <div style="position:relative;">
        <img    src="components/components08_11/tmpl_09/ttd-vn-ezg-keebler-1200x1020.jpg" 
                alt="EZ Grabbit Tarp Tie Down Composite with Keebler Pass background" 
                title="Classic EZ Grabbit with a background of Keebler Pass near Crested Butte, Colorado" 
                style=" width:100%;"> 
        
        
        <div style="position:absolute; top:1.5vh; left:2%; width:100%; z-index:3;"> 
            <div data-ui-view="childView1" 
                     title="This Read About has a link to EZ Grabbit pages"
                     style="margin:1vh auto;">
                            This shows the "Read about" and "Navigation menu" buttons. If you read this it's not working
            </div>
        </div>
    </div>
</div>
