.tableBorder, .headerBorder, .dataBorder    
{
border: 2px solid black;
border-collapse: collapse;
}

.headerBorder, .dataBorder   
{
padding:2px 0px;    
}

.quickLink
{
text-decoration:none;
color:#cccccc;
}

.quickLink:hover
{
color:black    
}

.viewStyle
{
background-color:gray; 
border:1px solid black;
border-radius:7px
}

.quickClose:hover
{
cursor:pointer;  
box-shadow:0px 0px 10px yellow;
}