<style>
#divA
{
font-size:1em;

}    
    
</style>

<div id="divA">
    <!--<div>The innerWidth reported is: {{$ctrl.reportedWidth}}</div>-->
    <!--<a href="http://www.tarptiedown.com">TTD link</a>-->
    <!--<a ui-sref="view13" ui-sref-active="active">view13</a>-->
    <img src="components/components00_03/tmpl_00/rockbuster-logo-no-rocks-1500x450-with-drop.png" alt="rb logo" style="width:100%"> 
    <div style="text-align:left;">
        <img src="components/components00_03/tmpl_00/ttd-website-rb-presentation-1200x900-w-drop-shadow.png" alt="rb presentation" style="width:75%">
    </div>
    <div id="testTD1" style="{{$ctrl.fontsize1}}; {{$ctrl.borderradius1}}; color:blue;">   
        1)  The RockBuster Ground and Tent Stake is a very robust and sturdy ground peg.<br> 
        2)  Made from a high impact polypropylene and at 12 inches long, they are designed for 
        that extra-strong hold. Each stake comes with it's own extraction rope to 
        make it easier to pull it from the ground. The RockBuster is ideal for use 
        as a tent peg or to hold almost anything in the ground. 

        
    <br>
    </div>
    
    <div >
        <table>
            <tr>
                <!-- 
                <td id="testTD3" style="{{$ctrl.width1}};">
                    <img id="testTD4" src="components/components00_03/tmpl_00/DSCN4494.JPG" alt="RB Presentation"  style="{{$ctrl.height1}}; {{$ctrl.width3}}; object-fit:cover; border:2px solid black; background-color:white; border-radius:10px;">
                </td>
                -->
                <td id="testTD3" style="width:60%;">
                    <img id="testTD4" src="components/components00_03/tmpl_00/DSCN4494.JPG" alt="RB Presentation"  style="{{$ctrl.height1}}; width:100%; object-fit:cover; border:2px solid black; background-color:white; border-radius:10px;">
                </td>
                <td id="testTD2" style="{{$ctrl.fontsize2}}; {{$ctrl.lineheight1}}; background-color:white; padding:0px 5px; border-radius:5px;">
                    Notice the Turnaround Post which makes it so easy to tie off the rope. 
                    It is a beefy ground and tent stake with several unique high technology design features. 
                    The RockBuster has a nice wide point so it won't curl when pounding in the stake. 
                    This stake will last longer than the typical plastic stake! 
                    Each stake comes with an extraction rope to help pull it from the ground. 
                    Sold at $1.75 each for any quantity they are a great value.
                </td>
            </tr>
        </table>    
    </div>
   
    
    
</div>
