<style>
#divA
{
font-size:1em;
}    

.textStyle1
{
font-family:arial; 
font-weight:bold; 
color:black;
}

.textStyle2
{
font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;   
color:red;
}

.textStyle3
{
font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;    
}
    
</style>

<div id="divA">
<!-- Response Section 1 ************************************************************************************************************************************************-->
    <div style="text-align:center;">
        <img src="http://www.tarptiedown.com/resources/ttd-vn-ezg-logo-w-device-1500x400.png" 
                         alt="EZ Grabbit Tarp Tie Down Official Logo" 
                         title="EZ Grabbit Logo with Tarp Tie Down Device" 
                         style=" width:90%;"> 
    </div> 
    <div class="textStyle1" style="{{$ctrl.rs1fontsize1}}; text-align:center;">Superior Performance and Versatility</div>
    
<!-- Response Section 2 ************************************************************************************************************************************************-->
    <table  style=" width:100%; 
                    border-spacing:0px; 
                    {{$ctrl.rs2margintop1}};               /* AR_25_0 */
                    /*margin-top:0px;*/
                    {{$ctrl.rs2marginbottom1}};            /* AR_30_0 */
                    /*margin-bottom:0px;*/
                    ">
        <tr>
            <td style="{{$ctrl.rs2width1}};">
            </td>
            <td style="{{$ctrl.rs2width2}}; {{$ctrl.rs2fontsize2}};">
                <div class="textStyle2" style="">&#10004; &nbsp;Mount Tarps to Structures</div>
                <div class="textStyle2" style="">&#10004; &nbsp;Fasten Tarps Together</div>
                <div class="textStyle2" style="">&#10004; &nbsp;Grab Tarps Anywhere</div>
                <div class="textStyle2" style="">&#10004; &nbsp;Far Superior To Grommets</div>
            </td>    
            <td style="width:45%;">
                <div class="textStyle3" style="{{$ctrl.rs2fontsize3}}; background-color:yellow; border:2px solid black; border-radius:5px; padding:10px 10px; margin-top:10px;">
                    WRAP THE TARP AROUND THE DOG BONE AND SLIDE THE SLEEVE INTO PLACE.<br> <span style="font-size:1.25em; text-align:center;"><b>IT'S THAT EASY!</b></span>
                    
                </div>
            </td>
            <td style="">
            </td>
        </tr>
    </table>

<!-- Response Section 3 ************************************************************************************************************************************************-->
    <div style="position:relative;
                left:2.5%;
                ">
        <!--src="http://www.tarptiedown.com/resources/ttd-vn-ezg-tarp-arc-1400x1400.jpg" -->
        <img    src="components/components00_03/tmpl_00/ttd-vn-ezg-tarp-arc-1500x1425.jpg" 
                alt="EZ Grabbit Tarp Tie Down Official Logo" 
                title="EZ Grabbit Logo with Device" 
                style=" width:95%; border:2px solid black; border-radius:7px; margin-top:10px;"> 
        <div style="position:absolute; 
                    
                    {{$ctrl.rs3positiontop1}}; /* AR_50_20*/
                    /*top:20px;   */
                    {{$ctrl.rs3positionleft1}};    /* AR_80_70 */
                    /*left:70%;   */
                    z-index:2;
                    ">
            
            <a href="https://www.tarptiedown.com"> 
                <img src="https:/tarptiedown.com/resources/ttd-vn-button3-300x120.png"
                     alt="button" 
                     title="EZ Grabbit applications, specs, prices, videos, etc."
                     style="{{$ctrl.rs3width1}};     /* AR_150_70 */
                            ">  
            </a>
            
        </div>
            
    </div>    

     
</div>
