<link rel="stylesheet" type="text/css" href="css/vn-templateStyle1.css">

<!-- AR Response Section 1 ************************************************************************************************************************************************-->
<div style="text-align:center;">    
   
    <table style="width:100%">
        <tr>
            <td style="{{$ctrl.rs1width1}}; vertical-align:top;">
                <div    class="textStyle2"
                        style=" width:100%;
                                {{$ctrl.rs1fontsize3}};
                                ">
                    <span style="font-size:1.75em">CARRY BAG</span><br>
                    <div style="position:relative; 
                                left:7.5%; 
                                width:85%; 
                                background-color:#EFEFEF; 
                                border:1px solid black;
                                border-radius:6px;
                                padding:5px 0px;
                                ">
                                general purpose
                    </div>
                </div>    
                <div    id="div1" 
                        style="font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; 
                               {{$ctrl.rs1fontsize1}}; 
                               /*font-size:.75em;*/
                               color:black; 
                               /*line-height:.95em;*/
                               text-align:left;
                               width:85%;
                               position:relative;
                               left:7.5%;
                               /*text-indent:5%; */
                               //text-shadow:1px 1px 1px black;
                               //background-color:#EEEEEE;
                               ">
                    <br>We have a large but limited inventory of these rugged carry bags. Designed for carrying heavy camping gear, not to mention your entire Grabbit assortment.

                </div>
            </td>
            <td style="{{$ctrl.rs1width2}};">
                <img    src="components/components04_07/tmpl_07/ttd-vn-cb-presentation1-1450x550.jpg" 
                        alt="Carry Bag" 
                        title="Carry Bag" 
                        style=" width:100%; 
                                {{$ctrl.rs1margintop1}};"> 
            </td>
        </tr>
    </table>
   
<!-- AR Response Section 2 ************************************************************************************************************************************************-->
    <div id="div2" 
         style="font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif; 
                {{$ctrl.rs2fontsize2}};
                /*font-size:.75em;*/
                display:inline-block;
                {{$ctrl.rs2margintop1}};     /* AR_20_8 */
                /*margin-top:8px;  */
                {{$ctrl.rs2marginbottom1}};     /* AR_20_8 */
                /*margin-bottom:8px;     */
                color:black;
                background-color:yellow;
                padding:5px 8px;
                border:2px solid black;
                border-radius:5px;
                ">
        CARRY YOUR HEAVY STUFF IN THESE CARRY BAGS
    </div>
    
    
<!-- AR Response Section 3 ************************************************************************************************************************************************-->
    <div style="position:relative;
                {{$ctrl.rs3fontsize1}};
               ">
        
        <img    src="components/components04_07/tmpl_07/ttd-vn-cb-presentation1-1450x550.jpg" 
                alt="Tarp Tie Down's Carry Bag Image" 
                title="Tarp Tie Down's Carry Bag Image" 
                style="position:absolute; top:0px; left:0px; width:100%;"> 
        
        <div style="position:absolute;
                    left:2%;
                    {{$ctrl.rs3top1}};
                   ">
            <a  href="https://www.tarptiedown.com/components/components04_07/tmpl_07/ttd-vn-cb-not-complete-msg.html"
                class="btnStyle2"
                style= "{{$ctrl.rs3padding1}};
                        text-decoration:none;
                        font-weight:bold;
                       "
               > Go To Carry Bag Pages
                
            </a>
            <div class="btnStyle2" 
                 ng-click="$ctrl.moreless2()"
                 style="{{$ctrl.rs3padding1}};
                        {{$ctrl.rs3marginleft1}};
                        font-weight:bold;
                       ">
                     {{$ctrl.morelessText2}}
            </div>
            <div class="textBoxStyle2 textStyle3"
                 ng-show="$ctrl.display2">
                 
                <table  style= "width:100%;">
                    <tr><td><u>SELECTION</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><u>DESTINATION</u>
                            <span   class= "youAreHere2">
                                &nbsp;&nbsp;you are here&nbsp;&nbsp;
                            </span>
                        </td>
                    </tr>
                    <tr class="topMenuNav">  <td class="tdStyle">TTD Intro          </td><td class="tdStyle">Tarp Tie Down Home & intro </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Price/Buy          </td><td class="tdStyle">Product pricing and store  </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Products           </td><td class="tdStyle">Tarp Tie Down products     </td></tr>
                    <tr class="topMenuNav">  <td class="tdStyle">Reviews            </td><td class="tdStyle">Customer feedback          </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 1  </td><td class="tdStyle">Standard EZ Grabbit        </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 2  </td><td class="tdStyle">Long Grabbit               </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 3  </td><td class="tdStyle">Mini Grabbit               </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button A  Thumb 4  </td><td class="tdStyle">EZ Adjust Rope Adjuster    </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 1  </td><td class="tdStyle">RockBuster Ground Stake    </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 2  </td><td class="tdStyle">Bag Grabbit Bag Handle     </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button B  Thumb 3  </td><td class="tdStyle">The EZ Grabbit Keeper      </td></tr>
                    <tr class="youAreHere">  <td class="tdStyle">Button B  Thumb 4  </td><td class="tdStyle">Carry/Duffle Bag           </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button C  Thumb 1  </td><td class="tdStyle">Tent Poles                 </td></tr>
                    <tr class="hyperMenuNav"><td class="tdStyle">Button C  Thumb 2  </td><td class="tdStyle">Classic EZ Grabbit         </td></tr>

                </table>
            </div>  
        </div>
       
    </div>

</div> 

